[2021-06-09 15:58] HCastano opened #813 "Allow Slices in Message Parameters"
Recently I came across some places where I thought it would be nicer to have users provide `&[T]` instead of `Vec<T>` as arguments to my contract's messages. However, I ran into some gross looking lifetime issues that I'm pretty sure could not be solved without additional support from the Ink macros themselves.

From talking with @Robbepop it looks like this is doable, but "hardish". Noting it dow

[2021-06-09 16:07] HCastano opened #814 "Unify `ink_env::{eval_contract, invoke_contract}`"
It looks like `eval_contract` is just a special case of `invoke_contract` but with better performance due to not having to fetch the results of the contract invocation.

From an API point of view, I think it would be more user friendly to provide a single API for cross-contract calls and let the function internally optimize depending whether or not a return type is required by the user.

[2021-06-09 16:20] Robbepop commented on #813
It might be doable to solve the heap memory allocation for n-ary parameters but I doubt that we will have lifetimes and slices as the solution in the end. But thanks for the issue, we can keep this for further discussion.

[2021-06-10 07:55] bakasura980 commented on #804
That would be perfect, Thanks a lot

[2021-06-10 09:44] vminkov opened #815 "We need a better token standard than ERC20 for the smart contracts ecosystem"
It is currently dangerous (meaning many undesired consequences could follow) if the smart contracts ecosystem adopts like Ethereum the ERC20 token standard.

We, at LimeChain, want to suggest a new approach to handling asset-backed tokens.

# Summary

Enable receivers of token/asset transfers to handle the transaction in an arbitrary way.

# Abstract

A better token standard that fixes a lot of th

[2021-06-11 17:38] VadneyK commented on #805
thanks!

[2021-06-11 17:38] #805 closed

[2021-06-11 18:08] VadneyK opened #816 "Refactoring Integration tests for contract-transfer"
**Questions**

Hello I am writing a [contract here ](https://github.com/PlasmNetwork/dusty-faucet/tree/a88bd74041631221d5ce4e03ffec6bc855d93366/contract)heavily influenced by the [examples/contract-transfer](https://github.com/paritytech/ink/tree/master/examples/contract-transfer) in this repo. My tests are getting a little lengthy so I am trying to put the tests in the tests/ directory, but am ha

[2021-06-14 11:00] gilescope commented on #815
It's definitely not that clear if a token really supports all the semantics of the ERC20 standard and as such many whitelists are used to subset to known good implementations. As an example of what happens to those that didn't whitelist here's a heartwarming tale: https://github.com/Defi-Cartel/salmonella

[2021-06-14 14:41] VadneyK commented on #816
It seems that importing in substrate is different from vanilla rust and I can't seem to find detailed tutorials on how to import from the src/ directory. I can import from test/ [by doing ink_env::test](https://paritytech.github.io/ink/ink_env/test/index.html) but I dont understand why use ink_env is not importing the datastrcutures in lib.rs like AccountID and `mod plasm_faucet` and `use plasm_fa

[2021-06-14 14:44] VadneyK commented on #816
branched to unrefactor bc I can't figure this out. Integration attempt here: https://github.com/PlasmNetwork/dusty-faucet/tree/a88bd74041631221d5ce4e03ffec6bc855d93366/contract

[2021-06-14 16:01] HCastano commented on #802
@garrettmaring I just tried building the example (`cargo +nightly contract build --manifest-path examples/rand-extension/Cargo.toml`) with:
- Ink commit e1486563d9cf3a0ab3154686a989cd88aca579d1
- `cargo-contract 0.12.1-443d343-x86_64-linux-gnu`
- `rustc 1.54.0-nightly (0a8629bff 2021-06-11)`

and it built fine.

I'm gonna close this, but feel free to re-open if you run into issues again.

[2021-06-14 16:01] #802 closed

[2021-06-14 16:04] HCastano commented on #801
@atenjin feel free to open a PR for this!

[2021-06-14 16:13] HCastano commented on #779
@yjhmelody This seems answered to me, feel free to open if you don't think so

[2021-06-14 16:13] #779 closed

[2021-06-14 16:25] HCastano commented on #765
@honeywest I'm confused at what you're getting at here. What's the bug you're running into? Can you post the error output and what you expect to happen?

[2021-06-14 20:10] HCastano commented on #759
@Robbepop is this in an issue somewhere? If so, I think we should probably close this in favour of that

[2021-06-14 20:17] HCastano commented on #758
@yjhmelody I don't quite understand your question. Are you asking why entries of `balance` and `allowances` in the struct below don't overlap with each other, or are you asking about items within each field (so why keys in an `ink_storage::collection::HashMap<K, V>` don't conflict?

[code]

[2021-06-14 20:26] HCastano commented on #757
@master-davidlee Like Andrew said, your starting point should be chain extensions. What you do afterwards depends on the specific type of chain you want to connect to.

For example, if your chain is a part of the Polkadot ecosystem you should be able to hook into the [XCM](https://github.com/paritytech/polkadot/tree/master/xcm/pallet-xcm) pallet. If it's not part of Polkadot but still built on Sub

[2021-06-14 20:26] #757 closed

[2021-06-14 20:28] HCastano commented on #640
This seems pretty stale. @GalaIO feel free to re-open if you think this is unresolved

[2021-06-14 20:28] #640 closed

[2021-06-14 20:38] HCastano commented on #750
@master-davidlee In theory you should be able to do this with chain extensions. I'm not sure what the details would look like though.

[2021-06-14 20:38] #750 closed

[2021-06-14 20:43] HCastano commented on #748
@GalaIO During the process of [building a call](https://paritytech.github.io/ink/ink_env/call/fn.build_call.html) you should be able to use the [`transferred_value()`](https://paritytech.github.io/ink/ink_env/call/struct.CallBuilder.html#method.transferred_value) method to achieve this.

[2021-06-14 20:43] #748 closed

[2021-06-14 20:45] HCastano commented on #747
@sharkygg This is a limitation of the current testing environment. However, there is a new off-chain environment in the works which will allow for this. See https://github.com/paritytech/ink/issues/788.

[2021-06-14 20:45] #747 closed

[2021-06-14 20:52] HCastano commented on #737
@Robbepop We might want to have a separate issue for discussions and designing generics - I can't find anything in the issue tracker

[2021-06-14 20:54] HCastano commented on #745
Closing in favour of #641.

[2021-06-14 20:54] #745 closed

[2021-06-14 20:57] HCastano commented on #770
Not sure, maybe @ascjones or @Robbepop can answer this?

[2021-06-14 21:07] HCastano commented on #815
I do agree, there need to be better standards than ERC-20. However, it's unclear to me if the Ink repo is the best place for discussions around standards. Standards are not part of the language and should therefore be discussed in a language netural place. I'm going to close this issue because of that.

Pinging @cmichi and @Robbepop in case you have different opinions about this.

This link is bro

[2021-06-14 21:07] #815 closed

[2021-06-14 21:14] HCastano commented on #730
@mmagician I don't see why normal Rust tooling wouldn't work here. Maybe there are some intricacies I'm not aware of though (cc @cmichi @Robbepop ?).

[2021-06-14 21:20] HCastano commented on #675
Closing this in favour of #698 which is more general and actionable.

[2021-06-14 21:20] #675 closed

[2021-06-15 08:36] ascjones commented on #770
The `PortableForm` is intended only to be constructed at runtime internally by `scale-info`.

However we could add those generic builder implementations if there is a valid use case, off the top of my head it might be useful for testing.

[2021-06-15 08:41] vminkov commented on #815
I believe the place to promote a token standard is the [examples](https://github.com/paritytech/ink/tree/master/examples) directory of the ink repo. Currently there is only ERC20  for fungible assets.

We want to have a discussion so one standard at least is finalized, implemented and put in the examples directory.

[2021-06-15 18:19] HCastano commented on #703
Looks like this has been answered.

[2021-06-15 18:19] #703 closed

[2021-06-15 18:23] HCastano commented on #687
@cmichi @athei Do you guys have any thoughts around this?

[2021-06-15 18:36] HCastano commented on #664
@hammeWang I've unassigned you, but feel free to open a PR for this if you wish.

[2021-06-15 18:39] HCastano commented on #634
Closing since it looks answered

[2021-06-15 18:39] #634 closed

[2021-06-15 18:47] HCastano commented on #625
@yjhmelody I'm gonna close this in favour of https://github.com/paritytech/ink/issues/631 and https://github.com/paritytech/ink/issues/776 since the original question around the usage of `ink-as-dependency` has been answered.

[2021-06-15 18:47] #625 closed

[2021-06-15 18:59] HCastano commented on #591
@thashimoto1998 Sorry for taking so long to answer this!

The return type should be SCALE encoded. However, instead of trying to decode the `bool` I believe you need to decode the [`ContractExecResult`](https://github.com/paritytech/substrate/blob/7f09a7619c863c964a93ceb915d6e0b9ddc39e2e/frame/contracts/common/src/lib.rs#L61) and pull the [`result`](https://github.com/paritytech/substrate/blob/7f0

[2021-06-15 19:07] HCastano commented on #458
@cmichi any updates here?

[2021-06-15 20:06] HCastano commented on #366
@jeremymj I just tested this with some more recent versions of Ink, Canvas, and Polkadot JS Apps and this is still a problem (the unhelpful error part, not the successful extrinsic part).

I've opened [an issue](https://github.com/paritytech/canvas-ui-v2/issues/27) so that the team working on the new UI gets to fixing this.

In the meantime, if you're developing your own contracts you may want to

[2021-06-15 20:06] #366 closed

[2021-06-15 20:12] HCastano commented on #328
@Robbepop @athei I'm not quite sure what the state of this is (I don't know what the docs looked like a year ago and they're fine to me now). Is this still valid?

[2021-06-15 20:22] HCastano commented on #777
@Robbepop @yjhmelody Do you guys have any next steps in mind here, or can I close this?

From my point of view it looks like your concerns should be covered with https://github.com/paritytech/ink/issues/806 and https://github.com/paritytech/ink/issues/759.

[2021-06-15 20:36] HCastano commented on #815
@vminkov The discussions around standards should ideally be in the PSP repo, as you're already doing.

I've added a "standards" label so that in the future early discussions around standards can be started here. However, they should make their way to the PSP repo for review.

It would be totally fine to open an issue or a PR with an implementation of a proposed PSP as an Ink example, so feel free

[2021-06-16 03:48] yjhmelody commented on #777
What this issue wants to discuss now is that the hash value of metadata needs to be stored on the chain together with the contract.

[2021-06-16 05:40] VadneyK opened #817 "Account amounts not changing?"
**Questions**
Hello I am [writing a smart contract](https://github.com/PlasmNetwork/dusty-faucet/tree/main/contract) very similar to the [contract-transfer in this repo here.](https://github.com/paritytech/ink/tree/master/examples/contract-transfer) I have locally tested and everything works fine, but when I deploy and interact with the smartcontract via polkadot network ui, the transactions say t

[2021-06-16 06:19] athei commented on #591
The `ContractExecResult` does not need to be decoded:

[code]

In any proper code you wouldn't call `unwrap()` of course.

[2021-06-16 06:27] athei commented on #687
Reading and writing hash maps **is** the API to the contracts pallet. It is a key value storage. I am strictly against offering anything that can be reasonably implemented in userspace (higher level data structures). Remember that we cannot change those interfaces. They need to be supported forever. Also this will be slow. Calling into the supervisor is costly. And don't forget that more API surfa

[2021-06-16 09:17] Robbepop commented on #687
I agree with everything @athei just said and want to add that a more high-level read/write API as proposed by the issue's author is not really useful in ink!'s context also by a design perspective because it would mandate how all future smart contract languages will operate on their storage so it is especially important to provide low-level general and efficient primitives and let the languages ta

[2021-06-16 09:18] #687 closed

[2021-06-16 09:26] Robbepop commented on #777
From what i can remember I spoke with @athei about this and we came to the solution that the simplest path forward is to put this hash for metadata in a Wasm custom section of the compiled contract. Then this hash lives on the chain, third party tools can inspect and check against it. This will guard against changes of the associated metadata.

[2021-06-16 09:32] Robbepop commented on #328
We now have ink! docs which is our public documentation portal for ink! and the most significant change for developer focused documentation. However, it is not an API documentation per se. So we are still in need of this proposed `ink_api` but it is still a problem to implement properly. It is the long vision for ink! to have this.

[2021-06-16 09:36] Robbepop commented on #458
Yeah we found out that it was indeed a bad idea originally and have (by now since months) implemented the proposal. Closed.

[2021-06-16 09:36] #458 closed

[2021-06-16 09:41] Robbepop commented on #625
Note that https://github.com/paritytech/ink/pull/811 actually fixes parts of this issue.

[2021-06-16 09:43] Robbepop commented on #664
Note that this has already happened: https://github.com/paritytech/ink/blob/master/examples/rand-extension/lib.rs#L68

Closed.

[2021-06-16 09:43] #664 closed

[2021-06-16 09:47] Robbepop commented on #730
I agree!

I think it was better to improve existing code coverage tools to better handle macro heavy code. In Rust there currently is mainly tarpaulin and grcov. Both of which have their problems from what I can tell. Our coverage reporting CI isn't very stable either unfortunately.

[2021-06-16 09:49] Robbepop commented on #737
Let us first get non-generic traits right and then we can tackle making them generic or adding similar features that will help with library-like smart contracts that are urgently needed.

[2021-06-16 09:51] Robbepop commented on #747
For off-chain testing purposes it is better to have a constructor like the following:

[code]
So basically replacing hashes with their concrete contract instances.
This way you do part of the job of the original constructor but have full control over the process in the off-chain testing.

[2021-06-16 12:47] Robbepop commented on #758
From how I understand your question: Yes, that increment solves all the conflicts usually.

[2021-06-16 12:48] athei commented on #777
Yes. It could be implemented with this: https://github.com/paritytech/substrate/issues/8423

By doing this the information stored there is transparent to pallet_contracts and semantics can be defined by user space.

[2021-06-16 12:48] Robbepop commented on #759
There is no issues for that yet from what I can tell. It is a pretty recent idea due to the ideas that came up for library-like contracts.

[2021-06-16 12:50] xgreenx commented on #804
Another topic but related to that. Will be cool to have a function that will allow checking that some contract supports some set of selectors. Solidity has analog [Erc165](https://eips.ethereum.org/EIPS/eip-165), but it requires the contract to implement an additional method and worry about initialization.

Maybe `Alive` enum can contain the list of selectors of supported methods. Or maybe we can

[2021-06-16 12:54] Robbepop commented on #804
This cannot be easily done by the contracts pallet alone and I think a better solution is to have an (already planned) hash added to the custom section of a Wasm smart contract that clearly associates a metadata to the Wasm blob. Then third party tools can simply check if a metadata and a Wasm blob are associated (by checking if the hash is equal to the hash over the metadata representation) and t

[2021-06-16 13:01] athei commented on #804
Please note that even with this functionality you need to trust the contract that it is actually contains the code you think it does. It can embed arbitrary metadata. To **verify** a contract one would either need some kind of decompilation or use reproduceable compilation and compare code hashes.

[2021-06-16 13:01] KaiserKarel opened #818 "Message arguments cannot be destructured"
`pub fn foo(&mut self, Bar { baz, bax }: Bar) `

In regular Rust, function arguments may be restructured like so, but the ink macro will error:

[code]

[2021-06-16 13:03] Robbepop commented on #818
We might be able to implement this. Thanks for letting us know that support for Rust patterns in message parameters is needed. :)

[2021-06-16 13:06] Robbepop commented on #804
Given this custom hash and a metadata it should be simple to verify (via RPC calls) if the associated metadata is correct at least given the parts of the Wasm blob it properly represents by simply calling into all functions and looking for the returned error. Ideally we differentiate between parameter decoding errors and selector mismatch errors. Also in the future there will be wildcard selectors

[2021-06-16 13:10] KaiserKarel commented on #818
I reckoned that we want to keep `ink!` as close as possible to real rust. :) Although I don't think that rust patters are used often like this, from time to time it is nice to have.

If one can point me to where this can be implemented, I can try to create a PR myself

[2021-06-16 13:14] Robbepop commented on #818
Implementation of ink! analysis is found in `crates/lang/ir` and codegen is in `crates/lang/codegen`. A PR probably needs to touch both given that we have the unwanted behavior for non-identifier parameters in ink! messages which probably resides in `crates/lang/ir`. The problem is that you really need to know where to touch things because in some positions we want to keep generating identifiers i

[2021-06-16 13:43] KaiserKarel commented on #818
I assume that there are the steps that need to be implemented:

- Add pattern to AST
- Add definition of pattern to ir

[2021-06-16 14:33] KaiserKarel opened #819 "Is it possible to get the account_id of an instantiated contract?"
[code]

Is there some API that can accomplish this?

[2021-06-16 16:50] HCastano commented on #819
I don't think this is possible as the moment.

The only thing I can think of right now is to add a method like `Erc20::address_of()` which itself calls [`ink_env::account_id()`](https://paritytech.github.io/ink/ink_env/fn.account_id.html).

@Robbepop Maybe there's also some way to implement `Info<AccountId> for <things with #[ink(storage)]>`?

[2021-06-16 16:52] KaiserKarel commented on #819
Yeah that is what I'm currently using; in this case I control the contract code.

[2021-06-16 16:53] HCastano commented on #818
I don't think I've ever seen struct destructuring used for function parameters before, TIL!

[2021-06-16 17:06] xgreenx commented on #804
I agree with you. My concern was about another moment. If someone wants to check inside of the code of contract that another contract(we have some `AccountId` and `is_contract` returned `Alive`) supports some set of methods.

It is a similar case of usage like for `is_contract`.

[code]

[2021-06-16 17:08] HCastano commented on #817
@VadneyK As I mentioned in https://github.com/polkadot-js/api/issues/3651 your transactions are not succeeding on chain. The contract is panicking somewhere, which is why `ContractTrapped` is being shown.

To figure out where you're going wrong I would make use of [`ink_env::debug_println!`](https://paritytech.github.io/ink/ink_env/macro.debug_println.html). You'll need to make sure the following

[2021-06-17 03:42] VadneyK commented on #817
@HCastano thanks! where can I view the outputs of the debug println?

[2021-06-17 03:43] VadneyK commented on #817
![Screen Shot 2021-06-16 at 8 42 47 PM](https://user-images.githubusercontent.com/57117207/122327844-69a12a80-cee3-11eb-8c4b-2db1b4a165d8.png)
I just need to add this last line of code to enable debug right?

[2021-06-17 03:54] VadneyK commented on #817
Wow I just found my issue. 1 default unit = 1 femto PLD = 10^-15 PLD... I just set amount = 10^16 PLD and it worked... damn lmao that took so long to figure out. Thanks for the help!

[2021-06-17 03:54] #817 closed

[2021-06-17 08:01] cmichi commented on #819
I agree that an API function for this would be nice. In the meantime this is a workaround, which doesn't require adding a special method to the contract.
[code]

[2021-06-17 08:07] cmichi opened #821 "`debug_println!` doesn't work in `#[ink(constructor)]`"
To reproduce one can use the `contract-transfer` example. Just modify the constructor in this way:
[code]

Start the `canvas-node` this way:
[code]

If you deploy and interact with the contract the `debug_println!`'s in the `#[ink(message)]`'s will show up on the console, but not the one from the constructor.

Note that https://github.com/paritytech/ink/pull/820 needs to be merged to reproduce thi

[2021-06-17 08:36] cmichi commented on #815
I think this is a related issue: https://github.com/paritytech/ink/issues/552.

[2021-06-17 08:45] cmichi commented on #328
@Robbepop Could you create an issue for this? I'd also be interested to know which problems are preventing implementing this currently.

[2021-06-17 09:53] vminkov commented on #815
@cmichi if we implement the proposed standard, can we have it included in the ink examples directory? We would like to promote it around the community as the better standard that is also better suited for cross-parachain swaps

[2021-06-17 11:56] Robbepop commented on #821
Might it be possible that this is not an ink! related issue but resides in the contracts pallet instead? I cannot see a reason atm why constructors and messages would behave different in ink!. Do you?

[2021-06-17 11:58] cmichi commented on #821
Nope, it was also my intuition that an investigation would probably lead to the `contracts` pallet. I haven't looked deeper though.

Does @athei maybe have an immediate hunch if this could be caused by the `contracts` pallet?

[2021-06-17 11:59] Robbepop commented on #818
Indeed metadata generation will require you to provide an actual identifier for the purpose of serialization in this case.
So if we were to implement destructible message parameters we would also be required to add a new ink! specific parmeter attribute `#[ink(name = "foo")]` in order to tell ink! what name this pattern has which probably undermines the whole point of this feature slightly.

[2021-06-17 12:02] Robbepop commented on #819
There should be `ink_lang::IntoAccountId` implemented by contracts for exactly this purpose.

[2021-06-17 12:16] athei commented on #821
AFAIK no UI dry-runs the constructor as RPC before deploying. Remember: Debugging is not enabled during on-chain execution. Only during RPC calls.

[2021-06-17 12:27] cmichi commented on #821
Ok, but in principle it's possible to do a dry-run of the constructor, right? Then I would create follow-ups for the UI's.

[2021-06-17 12:32] cmichi opened #823 "Replace hard-coded `ink-debug` feature"
After https://github.com/paritytech/cargo-contract/issues/284 has been implemented we should replace occurrences of
[code]
by introducing an `ink-debug` feature for that crate instead. See https://github.com/paritytech/ink/pull/820/commits/e61673a50eb21f33d5dab6c5dce00f897813bdcc.

[2021-06-17 12:33] athei commented on #821
Yes. This functionality was added somewhat recently.

[2021-06-17 12:45] cmichi commented on #815
@vminkov Yes, I think it would be great if you could go forward creating a PR for your PSP. It would be great to subsequently have an ink! example as a follow-up to an accepted PSP.

[2021-06-17 19:14] cmichi opened #824 "Codecov upload fails on `master`"
See e.g. https://gitlab.parity.io/parity/ink/-/jobs/972778:
[code]

The badge in the readme just displays `unknown`.

[2021-06-17 19:24] HCastano commented on #823
The `ERC-1155` example contract uses this as well (#800).

[2021-06-18 08:01] Robbepop commented on #785
Closed since be abandoned the Gitpod based ink! playground.

[2021-06-18 08:01] #785 closed

[2021-06-18 09:22] Robbepop opened #825 "Towards the ink_api entrance crate"
## Description

Introduce an `ink` or `ink_api` crate that acts as a central unified re-export layer on top of all ink! related crates.

## Motivation

Currently, if you want to write an ink! smart contract your contract has to depend on several different ink! related crates such as `ink_env`, `ink_storage`, `ink_primitives`, `ink_prelude` as well as some other non-ink! crates such as `parity_scal

[2021-06-18 16:18] HCastano commented on #557
I'm not convinced this should be considered a bug.

In my mind, this is no different from a programmer accidentally mixing up argument names (`timestamp` instead of `block_number`).

E.g:

[code]

[2021-06-18 18:47] HCastano commented on #825
Related https://github.com/paritytech/ink/issues/328.

[2021-06-18 21:41] VadneyK commented on #817
@HCastano  Hey I still don't know how to view the errors, where can I view this? also how do I set the calls to be RPC rather than via extrinsics?

[2021-06-21 12:38] KaiserKarel commented on #818
Yeah, the whole point was saving 1 LOC ;). I'll probably change the error message then. Perhaps add an explanation and reference to this issue?

[2021-06-21 12:42] Robbepop commented on #818
Yep, I now too think that not allowing patterns for message or constructor parameters simplifies ink! design.
You could still do the destructuring of the parameter in the message or constructor body.

Can we close this issue therefore?

[2021-06-21 13:05] JayPavlina opened #826 "Cannot add mut to message arguments"
[code]
This causes the following error:
[code]

[2021-06-21 13:14] Robbepop commented on #788
Indeed implementing this will be very difficult. I personally am out of ideas how to properly implement this given our current off-chain engine architectures. @cmichi do you have ideas?

@KaiserKarel What is your motivation to have this? Do you have some ideas in mind for the implementation?

[2021-06-21 20:56] HCastano commented on #817
You should see the errors in the logs of your Canvas dev node.

There's an option in the UI before you fire off a transaction.

<img width="284" alt="image" src="https://user-images.githubusercontent.com/12344623/122826603-59a59400-d2b1-11eb-96fc-76cfc099cfe8.png">

No, you need to do the following:

[code]

[2021-06-22 05:04] JayPavlina commented on #788
I need this to run tests that require cross contract calls. Unfortunately, most of my contracts use other contracts, usually ERC20 or ERC721, so I have to test with [redspot](https://github.com/patractlabs/redspot), which I find to be a huge drain on productivity. Being able to write all tests in rusts would be amazing. If this issue cannot be solved, I would love to know if there is some kind of

[2021-06-22 09:02] Robbepop commented on #788
Yep, this is kind of expected and normal with more complex smart contracts. The off-chain environments that have been implemented so far for ink! are limited to some extend. Also ink! generates very different code for both Wasm and off-chain compilation which was required to make limited off-chain testing simpler but which naturally makes it more difficult to emulate on-chain properly in an off-ch

[2021-06-22 09:24] Robbepop opened #827 "Add new default bump allocator for heap memory allocations"
Currently we are using `wee_alloc` (https://crates.io/crates/wee_alloc) for allocating heap memory in smart contracts.
This allocator was specifically designed for WebAssembly usage and smart contracts and features relatively low footprint.
However, its footprint is still significant and blows up the complexity and Wasm file size of non-trivial smart contracts measurably.

On Ethereum it is not un

[2021-06-22 09:55] JayPavlina commented on #788
I had some success before when I compiled the dependency contract without the `ink-as-dependency` feature when I was testing, but I never found a setup that also allowed me to compile with `cargo contract`. Since features are additive, it's difficult to remove the `ink-as-dependency` feature only during testing.

[2021-06-22 15:55] HCastano commented on #827
From what I can tell we aren't able to use `bumpalo`. This is because it has a pretty fundamental assumption baked in, which is that it [allocates and deallocates memory using an already exiting global allocator](https://github.com/fitzgen/bumpalo/issues/100#issuecomment-792972404). This would leave us in the same situation since we're using `wee_alloc` as the global allocator.

As the crate autho

[2021-06-22 16:03] vidarthedev opened #839 "unresolved import `other_contract`"
Trying to compile the example of two contracts calling itself.

I get the error:

error[E0432]: unresolved import `other_contract`

other_contract Cargo.toml

other_contract = { path = "../other_contract", default-features = false, features = ["ink-as-dependency"] }

the contract that calls it has:

use other_contract::OtherContract;

The contracts are exactly the same as those in the example: htt

[2021-06-22 18:14] HCastano commented on #826
Hi @JayPavlina, what you're presenting isn't valid Rust (see this [Rust playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9e6bd529c234c22f6c19a8b98c546e5e)).

What you're likely looking for is `&mut token`.

[2021-06-22 18:19] xgreenx commented on #826
He described a valid rust:)
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=251ff6bcbaa41aabc68a35b9818b1bd3)

[2021-06-22 18:53] HCastano commented on #826
I misread it, good catch 😅

[2021-06-23 08:25] xgreenx commented on #807
In Solidity, the user must define a modifier. It means that the user also must do that in case of ink!. We can require him to define the private modifier(function) in impl section. It means that we can call this function `self.#ident_of_fundtion;` before the execution of any method.

We created an example of an [independent macro](https://github.com/Supercolony-net/openbrush-contracts/pull/13/file

[2021-06-23 16:26] xgreenx commented on #804
So, what do you think about the API described above? Or you think that it is not needed and better to implement [Erc165](https://eips.ethereum.org/EIPS/eip-165) for each contract?

[2021-06-24 06:32] xgreenx commented on #807
But it is an example of an independent modifier and it has low functionality. We can't mark where we want to paste the body of the function(In solidity you can use '_;' construction to indicate that).

### Suggested solution

We can require the user to define the modifier in the body of the contract and mark it like `ink(modifier)`.
The user must provide inside of the function a `#[ink(body_of_fun

[2021-06-25 14:19] mmagician opened #829 "Derive macro for a default SpreadLayout"
When adding a custom struct to smart contract storage, as shown in the [docs](https://github.com/paritytech/ink-docs/pull/21), I found that implementing all the methods for SpreadLayout (default) is tedious.

Would it make sense to have a derive macro which does automatically generates these methods? I've already built an example of what this would look like [in this implementation of DefaultSprea

[2021-06-26 23:38] Robbepop commented on #829
How is this derive macro different from the one we already are providing for the `SpreadLayout` trait?

[2021-06-28 09:21] atenjin commented on #825
related #778
we help to export seal_extenstion to outside in ink_api

[2021-06-28 09:32] cmichi commented on #825
This would btw. be a perfect application to utilize our https://crates.io/crates/ink namespace. Then a smart contract would just have to depend on the `ink` crate.

[2021-06-28 11:52] Robbepop commented on #825
This was the original plan of doing `use ink_lang as ink;` in the examples all the time.

[2021-06-29 14:15] mmagician commented on #829
Never mind me 🤦🏼

[2021-06-29 14:15] #829 closed

[2021-06-30 22:44] KaiserKarel opened #834 "Implement binary_search for ink_storage::Vec"
It seems that ink_storage::Vec is missing some useful methods, such as binary search. Is such a feature wanted?

[2021-06-30 23:43] HCastano commented on #834
Having `binary_search` seems reasonable to me. Feel free to open a PR

[2021-07-01 08:20] Robbepop commented on #834
I would love to see that!

[2021-07-01 08:26] KaiserKarel commented on #834
I think that for the search we will need to access storage for the comparison, but no more than that.

[2021-07-01 11:27] yjhmelody opened #835 "Add `nullable` attr to type field in `metadata.json`"
In other languages and unsafe rust. A field could be T | null type.
It's obvious that some languages does not support `Option` type. They need to use null to represent `None`.
And in scale spec:

One or zero values of a particular type. Encoded as:
0x00 if it is None ("empty" or "null").
0x01 followed by the encoded value if it is Some.

So the `metadata.json` will be more generic if all `def` kin

[2021-07-01 20:19] KaiserKarel commented on #819
So in this case the [ToAccountId](https://paritytech.github.io/ink/ink_lang/trait.ToAccountId.html) is what one should use. :)

[2021-07-01 20:19] #819 closed

[2021-07-02 10:02] KaiserKarel opened #837 "Add partition_point to storage::vec::Vec"
I could use [partition_point](https://doc.rust-lang.org/std/primitive.slice.html#method.partition_point) on the storage Vec. If this is a feature addition that would be accepted, I can create a PR porting `core`'s implementation and tests.

[2021-07-02 13:06] Robbepop commented on #835
I have to admit I don't fully understand the issue as described but from what I understood this should probably be discussed at the `parity-scale-codec` repository so I will move it there.

[2021-07-02 14:06] #644 closed

[2021-07-03 09:30] KaiserKarel opened #838 "Implement sort for storage::vec::Vec"
As discussed in #836, implementing sort for `Vec` is perhaps a feature we want. This probably involves writing two competing implementations, one performing the sort in-memory, and the other performing the sort directly on storage, and then benchmarking the gas costs.

[2021-07-03 09:31] KaiserKarel commented on #788
Idem for me

[2021-07-03 09:39] KaiserKarel commented on #471
Why exactly would one use an ink! pure function over just including a library and embedding the function that way?

[2021-07-03 09:44] KaiserKarel commented on #414
Is this issue still relevant? If so I could probably start working on this. Where is the `storage2` crate located?

[2021-07-03 15:41] xgreenx commented on #807
We implemented the described modifiers in the library. I hope the [comments](https://github.com/Supercolony-net/openbrush-contracts/blob/feature/modifiers-code-injection/contracts/brush/proc_macros/lib.rs#L300) are clear enough to understand how to use them.

[It](https://github.com/Supercolony-net/openbrush-contracts/blob/feature/modifiers-code-injection/contracts/security/reentrancy_guard/traits

[2021-07-03 15:57] cmichi commented on #839
@vidarthedev Sorry for the late reply. It's hard to tell what exactly the failure in your case is, could you maybe post a minimal example of the `Cargo.toml` + `lib.rs` of both contracts?

Alternatively what you could do is look at our [`delegator`](https://github.com/paritytech/ink/tree/master/examples/delegator) example, it does cross-contract calling and you could take these files as templates:

[2021-07-03 16:00] cmichi opened #840 "Improve `expect` messages for decoding failure"
Follow-up for https://github.com/paritytech/ink/pull/797.

Copy/Pasted from @Robbepop's comment there:

[2021-07-04 21:23] KaiserKarel commented on #838
So porting sort is not very straightforward, due to the usage of slices in many sorting functions. I could change how they perform the sorts, operating on parts of the vec; or I could add a Slice type to the vec.

@Robbepop do you have thoughts on the best strategy? I think that having a Slice type will may become useful in other functions as well.

[2021-07-05 16:30] cmichi commented on #801
Closed via https://github.com/paritytech/ink/pull/797.

[2021-07-05 16:30] #801 closed

[2021-07-05 21:00] KaiserKarel commented on #818
Shall I open up a PR associated with this issue to improve the error message?

[2021-07-05 21:21] KaiserKarel commented on #838
After looking into possible implementations a bit more now, it seems that the standard library heavily uses slices in sorting operations. If we were to port `core`, we'd have to implement our own version of a `split_at_mut` for storage vectors. For that, it would need to be possible to have some version of `split_at_mut` for LazyIndexMap as well I think.

I is also possible to significantly deviat

[2021-07-06 08:42] Robbepop commented on #818
I would appreciate this!

[2021-07-06 16:42] KaiserKarel commented on #838
@Robbepop do you have an opinion on this? :)

[2021-07-06 17:23] Robbepop commented on #838
We cannot work with slices directly but we might be able to craft some abstractions that will be very similar to them, e.g. `storage::VecSlice<T>`. So a `split_at` or `split_at_mut` could potentially return two of those. We are definitely be required to use some extend of `unsafe` Rust code if we want to implement this.

[2021-07-07 14:38] KaiserKarel commented on #838
So that'd be a separate PR. I think being storage::vec::Slice abstraction would be a useful addition outside of the sorting implementation as well.

[2021-07-07 14:45] KaiserKarel opened #847 "Add a storage::vec::Slice abstraction"
It would be very useful to obtain a slice-like abstraction, allowing for methods such as `split_at_mut` to be added.

I'm not exactly sure if it can be safely implemented using RefCell, but we most likely want to avoid any runtime checks to save on gas anyways.

[2021-07-07 16:19] GalaIO commented on #748
hi  how to achieve on polkadot.js api?

[2021-07-08 14:56] KaiserKarel opened #850 "Possible UB in min_heap"
Running miri on `storage::collections` results in the following error:

[code]

I'm working on #847, which requires significant unsafe to implement `split_at_mut`, so running Miri in CI seems appropriate too,

[2021-07-09 19:35] HCastano commented on #850
I was under the impression we already ran Miri as part of the CI 🤔
Feel free to open a PR which adds it.

As for the potential bug, it's unclear to me what Miri is trying to tell us here. Definitely worth looking into though

[2021-07-09 19:36] HCastano commented on #834
Closed by #836.

[2021-07-09 19:36] #834 closed

[2021-07-09 20:07] KaiserKarel commented on #850
I haven't actually looked into the cause or CI configuration, but I assumed that since Miri errored it was not run.

I'll look into enabling it in a PR, and will post the full error tomorrow

[2021-07-12 14:18] cmichi opened #854 "Implement `seal_call_runtime`"
With https://github.com/paritytech/substrate/pull/9276 implemented, we can now introduce `seal_call_runtime` into ink!, providing contracts with the ability of dispatching calls into the runtime.

## ToDo

- [ ] Add a new ink! API function `self.env().call_runtime(…)` analog to our other `env()` API functions (e.g. with UI tests under `crates/lang/macro/tests/ui/`). See the linked issue for the `c

[2021-07-16 14:45] HCastano opened #860 "Add Fuzz Testing to Bump Allocator"
This would be a follow up to https://github.com/paritytech/ink/pull/831 in which a new dynamic memory allocator was
added.

To ensure the correct working behaviour of the allocator it would be benefitial to
have some fuzz testing.

It looks like the ink! data structure fuzzing uses [quickcheck](https://github.com/BurntSushi/quickcheck), so that could be a
good starting point for this as well.

[2021-07-18 03:24] tk-o commented on #807
On the other hand, a modifier is just a function that asserts certain state, and panics if it's not an expected one.

Given that characteristic, why can't we just have an explicit function call?
[code]

In case there's a need for enforcing calling a modifier function with `swap`, we could have an abstract implementation provided on a trait, that would call the expected modifier functions first, an

[2021-07-18 11:37] xgreenx commented on #807
We can do an explicit function call, but the problem is how you will pass the body of your main function inside of the modifier?

The first simple suggestion about modifiers in this issue was about adding of explicit call at the beginning of the function.

[code]

Expanded into:
[code]

But feature to specify the place where we want to call the code of the main function is very important. So the i

[2021-07-20 03:01] Quantiex-Lab opened #865 "How contract receive the AccountId and amount when user or other contract transfer coin(not erc20 token)."
How contract receive the AccountId and amount when user or other contract transfer coin(not erc20 token) to this contract.

[2021-07-20 09:13] KaiserKarel commented on #865
If they do a regular transfer, I do not think there is a way for the contract to inspect that transfer. However you can make methods payable to allow for extra transfers.

[2021-07-20 10:08] yjhmelody opened #868 "Confused about the returned blockNumber value of `env().random()`"
The returned value is always lower than the current latest block height.

[2021-07-20 10:27] yjhmelody opened #869 "seal_terminate do not support seal1"

[2021-07-20 11:23] yjhmelody opened #870 "weight_to_fee always return 0."

[2021-07-20 18:51] HCastano commented on #870
@yjhmelody can you provide us with more context/some code?

[2021-07-20 18:52] HCastano commented on #869
@yjhmelody can you provide us with more context/some code?

[2021-07-20 18:53] HCastano commented on #868
@yjhmelody can you provide us with more context/some code?

[2021-07-20 19:07] HCastano commented on #865
Yeah, if you're transferring native tokens I don't think the smart contract has any insight into that. You can however, as part of the smart contract execution, check the current balance using [`ink_env::balance()`](https://paritytech.github.io/ink/ink_env/fn.balance.html).

I think what you're looking for, as KaiserKarel mentioned, are [`payable` messaages](https://paritytech.github.io/ink/ink_la

[2021-07-21 02:44] yjhmelody commented on #870
[code]
Just the simplest call.

[2021-07-21 02:59] yjhmelody commented on #869
I mean [seal0] seal_terminate is deprecated. Ink! should use [seal1]

[2021-07-21 03:07] yjhmelody commented on #868
[code]

Just call it simply.

I use [Europa](https://github.com/patractlabs/europa) to execute these codes. I am confused about this return value

[2021-07-21 03:30] yjhmelody commented on #870
Sorry, I found it to be a normal operation, is my test environment issues.

[2021-07-21 03:30] #870 closed

[2021-07-22 05:40] cmichi opened #873 "Use `twiggy` to analyze contract binaries for size optimization opportunities"
Credit for this idea goes to @athei. ink! is currently mostly optimized for speed rather than code size. We can use the twiggy tool to analyze the contract binaries for size optimization opportunities.

We should use the tool to inspect our example contracts to find out where to start optimizing.

More info on twiggy can be found here: https://rustwasm.github.io/twiggy/.

[2021-07-22 06:02] Quantiex-Lab commented on #865
Payable can resolve my problem. Thank you very much!! @HCastano @KaiserKarel

[2021-07-22 06:02] #865 closed

[2021-07-22 10:40] tk-o commented on #839
@vidarthedev I think I had the same issue while trying to include one contract into another contract.

Please check the `Cargo.toml` file of the contract you'd like to provide to another one. It must have `rlib` setting provided in `lib.crate-type` section:
[code]

[2021-07-22 11:10] tk-o opened #875 "Question on cross-contract calls"
## Intro

I created a contract for Erc20 tokens. Now, I'd like to have this contract deployed twice, so I have `Token A`, and `Token B`.

Once I have these two, I'd like to deploy another contract, that would be able to communicate with each of two Erc20 tokens deployed earlier.

I have been using [the `delegator` example](https://github.com/paritytech/ink/tree/master/examples/delegator) as an ins

[2021-07-22 13:15] KaiserKarel commented on #875
Many questions! I'll give some brief pointers :)

1. Ink uses loads of conditional compilation. Importing a contract definition into another contract will result in differently generated code. I myself visualize it as Server/API client, where the actual contract is compiled as a server, but if you import the definition, it is compiled as an API client. If you're importing the contract, the actual

[2021-07-22 14:11] xgreenx commented on #875
1. If someone imports your contract, he MUST mark it `ink-as-dependency`(because ink! doesn't allow code injection of one contract into another). It means that all stuff marked with `#[cfg(not(feature = "ink-as-dependency"))]` will be not compiled in this case. Why do you need to add this? Because ink! also marks your initial implementation with this flag. It means that the initial code also will

[2021-07-22 14:15] xgreenx commented on #875
Also, you don't need to directly implement Erc20 by yourself. You can try to reuse our implementation. it is [example](https://github.com/Supercolony-net/openbrush-contracts/tree/main/examples/psp20), how you can import that. But you need to use our version of ink!.

[2021-07-22 17:42] frankli-dev opened #876 "the trait `TypeInfo` is not implemented for ..."
**Questions**

- Is this a bug concerning building of ink! smart contracts?
    - If **yes** then you might instead want to file a bug report to ink!'s build tool: https://github.com/paritytech/cargo-contract
- Is this a bug that appears when interacting with smart contracts via the Polkadot JS browser UI?
    - If **yes** then you might instead want to file a bug report to the Polkadot JS Apps pr

[2021-07-22 22:13] alxs commented on #730
@Robbepop there's an item in https://github.com/xd009642/tarpaulin/issues/351 implying that tarpaulin currently misses lines originating from macros in function bodies. Could the current problems boil down to this?

@cmichi @xgreenx @themarkian @WiktorStarczewski @VadneyK @KaiserKarel and anyone else reading: have you tried using tarpaulin with ink! contracts? What issues did you run into?

[2021-07-23 00:34] tk-o commented on #875
Yeah, I'm keen not to re-invent the wheel so for sure will use available components. For now, wanted to reduce the amount of the dependencies before I understand what's happening.

[2021-07-23 01:11] tk-o commented on #875
and

@KaiserKarel, @xgreenx : Would it make sense to say then, that:
[code]
is required for every dependency included within a mod marked with `#[ink:contract]`?

[2021-07-23 01:15] tk-o commented on #875
@xgreenx: What is this bit of code doing, then? I thought it deploys two new Erc20 contracts, using a WASM blueprint located at provided `code_hash`. By deploying, I mean creating a running program on blockchain.

[code]

[2021-07-23 09:21] ascjones commented on #876
It's because `FixedU128` does not implement `TypeInfo`.

As it happens I am currently working on a PR which adds `TypeInfo` impls to this and many other substrate primitives. https://github.com/paritytech/substrate/pull/8615.

[2021-07-23 09:37] xgreenx commented on #875
Yes and... No) You also import some types, which you are not using in structure or code, but you are using them in the signature of ink! methods or constructors. So you need to mark every import except imports used in the signature of the functions.

[2021-07-23 09:44] xgreenx commented on #875
[Deploying](https://substrate.dev/substrate-contracts-workshop/#/0/deploy-contract?id=deploying-your-contract) of smart contracts has two steps:
1. Deploy - Putting your contract code on the blockchain
2. Instantiate - Creating an instance of your contract

So `instantiate` creates an instance of your contract with code from `code_hash`.

`from_account_id` only creates a wrapper around the account

[2021-07-23 11:41] tk-o commented on #875
Thanks @xgreenx, it all starts coming together in my mind. I've been trying to practice by having [this solidity contract](https://etherscan.io/address/0xa4803f17607b7cdc3dc579083d9a14089e87502b#code) re-created in `ink!`.

The functionality allows a user to lock some ETH for some period of time. The `Lockdrop` contract receives ETH from a user, and then create an instance of a `Lock` smart contra

[2021-07-23 11:43] KaiserKarel commented on #875
You can find the codehash in the metadata generated by cargo contract.

[2021-07-23 11:48] tk-o commented on #875
Yesss! I think I get it now! For others in the future: look at `metadata.json` (`source.hash` property) file generated by `ink!` while compiling your contract.

[2021-07-23 12:04] tk-o commented on #875
I have one more question before I go 🙃 I'd like to use [`transferred_balance` method](https://paritytech.github.io/ink/ink_lang/struct.EnvAccess.html#method.transferred_balance) to capture the value sent by a user to my _payable_ contract method.

[code]

What is a way I could call this `lock` method from my deploy script/test script? I reckon I can't just pass balance to-be-locked as an argument

[2021-07-23 14:11] HCastano commented on #868
I think it makes sense that the block number is always lower, since the randomness was "generated" at some earlier block. From the docs:

That being said, I'm not sure when a block is "determinable", but I suspect that's dictated by the contracts pallet. Pinging @athei who can probably give you a better answer than me.

[2021-07-24 10:54] tk-o commented on #875
I started experimenting with the following approach:

- a sender transfers value (meant to be locked) to the LockDrop contract
- the LockDrop contract takes these funds and passes them into a newly created instance of the Lock contract

Ideally, it all should happen within a single transaction, but I don't know yet how to achieve this. Here's what I've been trying today: https://github.com/atomikl

[2021-07-25 05:56] athei commented on #868
Works as intended. The contracts pallet only forwards the randomness provided by `pallet_contracts::Config::Randomness`. See the [`Randomness`](https://substrate.dev/rustdocs/latest/frame_support/traits/trait.Randomness.html) trait:

[2021-07-25 05:56] #868 closed

[2021-07-25 13:04] themarkian commented on #730
hey @alxs!
neither I nor green had experience with it. We will let you know if we will stumble upon something useful

[2021-07-26 06:56] yjhmelody opened #877 "About the design of payable"
This syntax seems to be a direct reference to solidity? But I actually don't quite understand the meaning of such a design. In my opinion, it is more appropriate to divide into three values: must pay/must not pay/any
By the way, the check logic itself will slightly increase the wasm code size of ink because you have inlined it

[2021-07-26 11:19] tk-o commented on #875
The answer to my question about how to send some value with a contract method call is:
[code]
---

### ContracTrapped

#### Issue
[Here's my smart contract method](https://github.com/atomiklabs/decomm/blob/lockdrop/contracts/lockdrop/lib.rs#L24) I'd like to send some native token to, and [here's how I've been trying to do that](https://github.com/atomiklabs/decomm/blob/lockdrop/tests/erc20.test.ts

[2021-07-26 15:46] vidarthedev commented on #839
@tk-o Thank you. I was missing "rlib".

However, I still get strange error:

5 | use other_contract::OtherContract;
  |     ^^^^^^^^^^^^^^^^-------------
  |     |               |
  |     |               help: a similar name exists in the module: `other_contract`
  |     no `OtherContract` in the root

Any ideas?

[2021-07-26 18:54] HCastano commented on #877
So I don't know about the history of it, but you can already achieve the three states you're interested in with the current language design.

[code]

Do you have a pseudo-code proposal of what your solution would look like?

[2021-07-26 19:07] HCastano opened #879 "Update `seal0` calls to `seal1`"
Right now `ink!` is mainly using [`seal0`](https://github.com/paritytech/ink/blob/a2e549eaee5175ad98aa79cc569628d34496f4d0/crates/env/src/engine/on_chain/ext.rs#L202) calls for interfacing with the contracts pallet.

However, there are a number of functions which have been updated to `seal1`, and whose `seal0` implementations are deprecated (e.g [`seal_terminate`](https://github.com/paritytech/sub

[2021-07-26 19:08] HCastano commented on #869
Gotcha. Yeah you're right. It doesn't look like there's anything stopping us from updating this (and a few others). I've opened #879, feel free to open a PR against that.

[2021-07-26 19:08] #869 closed

[2021-07-27 06:43] yjhmelody commented on #877
I know it can be implemented in this way, but it is obviously unreasonable. Why does one of them require the user to implement the check manually, and the other two through annotations? And the front-end page/metadata.json does not express such semantics?

[2021-07-29 04:30] frankli-dev opened #880 "Can I use frame_support::PalletId inside ink?"
**Questions**

Can I use frame_support::PalletId inside ink?

[2021-07-29 07:02] qaibeibei opened #881 "Contract delegator release error ContractTrapped"
I ran into a problem when I released the contract,The latest version of 3.0rc4 is used.

Error  ContractTrapped

delegator version = ?

[2021-07-29 07:28] tk-o commented on #880
Perhaps you need to take a look at https://paritytech.github.io/ink/ink_env/chain_extension/index.html

[2021-07-29 08:20] cmichi commented on #881
@qaibeibei What are the steps you are taking to get this error? Are you using the latest versions of `canvas-node` and `cargo-contract`? You can update via:

[code]

[2021-07-29 08:24] cmichi commented on #880
@frankli-dev What are you trying to achieve by having the `PalletId` inside ink!? I agree with @tk-o, that you probably want to look into chain extensions. Here are two more possibly helpful resources:
* https://paritytech.github.io/ink-docs/macros-attributes/chain-extension ‒ extensive documentation
* https://github.com/paritytech/ink/tree/master/examples/rand-extension ‒ code xample

[2021-07-29 08:42] qaibeibei commented on #881
![image](https://user-images.githubusercontent.com/42369700/127460199-32f53abf-72f2-488e-af27-cb5f247bd219.png)
![image](https://user-images.githubusercontent.com/42369700/127460339-8e1368c1-f224-4732-8736-4d13abfe1a2f.png)

I use substrate monthly-2021-07 ，
Start command  ./target/release/substrate --dev,
contract version  cargo-contract 0.13.0-unknown-x86_64-linux-gnu

[2021-07-29 09:35] frankli-dev commented on #880
I would like to define like the following. If I use chain extension just to get the pallet id, does it cost much gas?
[code]

[2021-07-29 12:07] frankli-dev commented on #880
Ah, I got it. I don't need to use PalletId inside ink directly. Figuring out with chain extension. Thanks

[2021-07-29 12:07] #880 closed

[2021-07-29 16:15] cmichi commented on #877
So what you are missing to express is the difference between "must pay something" vs. "can pay something". We currently support only "can pay something" with `payable`.

The thing is that without further context "must pay something" doesn't offer that much more information, since it's still unclear how much payment is actually required. So you would still need the `assert!(self.env().transferred_b

[2021-07-29 22:57] xgreenx commented on #641
Hello again=) We thought about how this feature can be implemented. It is clear how it must work in the case of single contract execution. But we faced several issues which don't allow (we think so) to implement `revert_on_err`, and also we found a bug in the design of cross calls (when parent contract calls a child contract). We will describe them here and let's discuss together can we implement

[2021-07-30 06:47] athei commented on #641
Changes applied by the child contract **are** reverted and the parent has no way to prevent this.

[2021-07-30 07:23] xgreenx commented on #641
Sorry, could you give the link to the code where changes applied by the child contract will be reverted, please? I want to clarify for myself because I didn't find this place=)

I only found that changes will be reverted/applied [here](https://github.com/paritytech/substrate/blob/master/frame/contracts/src/exec.rs#L831). But in this place, we are checking the result of the execution returned from

[2021-07-30 09:48] athei commented on #641
You found the correct place. We are checking the result of a (possibly cross contract) **child** call and revert all changes that contract made on error.

Because it isn't and it shouldn't. It is the calling contract which decides how to handle errors. This is policy and hence belongs in userspace. This issue is about ink providing better utility to define this policy in a contract.

And this is O

[2021-07-30 09:54] seanyoung commented on #877
I am fairly sure Solidity has an explicit payable option to prevent functions on contract from receiving value but then having no way of dealing with it; iow you might end up with value locked in a contract with no means of extracting it again, if value was sent by accident. This is why functions are by default non-payable.

An option "must pay" does not really serve much of a purpose; a function

[2021-07-30 12:30] xgreenx commented on #641
Oh, I see. `ext.call` uses the [`run`](https://github.com/paritytech/substrate/blob/master/frame/contracts/src/exec.rs#L1055) method which will rollback the change during cross contract call.

Yes, it is the best behavior if the revert will roll back only the child's storage. We tried to suggest doing that by messages above, but you already implemented it=) Sorry to disturb you. We didn't find the

[2021-07-30 17:40] HCastano commented on #881
@qaibeibei since you mention you're using a `monthly` tag that indicates that you're not using the `canvas-node`. Can you please follow Michi's advice and try to reproduce this using the latest `canvas-node`?

The Substrate `master` branch moves fast, and being "just" a month behind can mean a lot of breaking changes.

[2021-07-30 17:50] cmichi commented on #881
Could you also try with an endowment of 10000 please? I can't see how this would cause the trap, but we're using 10000 in our End-to-End tests.

[2021-07-31 01:50] qaibeibei commented on #881
Thinks,  When donated to 10000,   it can be instantiated.

[2021-07-31 01:51] #881 closed

[2021-08-01 12:06] cmichi commented on #827
I'm closing the issue since from what I can tell @HCastano's PR checked all ToDo's.

[2021-08-01 12:06] #827 closed

[2021-08-02 15:44] cmichi commented on #507
I've removed this ticket from Substrate's "Improve throughput" issue, since this issue rather targets the runtime performance by having one storage read less. The "Improve throughput" issue on the other hand aims to reduce the size of contracts. The ideas we've had so far to solve this very issue here involve more code (i.e. caching) though.

[2021-08-02 17:43] cmichi commented on #877
@yjhmelody I'm closing this issue, since this is what I feel the outcome of the above discussion is. To summarize the main reasons:
* We are currently of the opinion that a further distinction of "payable" into "must receive value" and "may receive value" doesn't provide that much more benefit, since it stays unclear how much value actually would be required for "must receive value".
* A further r

[2021-08-02 17:43] #877 closed

[2021-08-02 20:57] #860 closed

[2021-08-03 06:06] yjhmelody commented on #877
I think you are wrong, it can reduce the code size. If there is must pay semantics, then ink! does not need to automatically generate the check code `deny_payment`, because this check must be guaranteed by the developer, and this annotation also reminds the developer and user that the value of 0 should not be sent. For the front-end UI, refinement is more conducive to the user experience. For othe

[2021-08-03 08:24] seanyoung commented on #877
If a function is payable, i.e. "may receive value" then the deny_payment code is not needed either. Your proposed "must pay" increases the code size because a "deny_non_payment" code must be inserted.

[2021-08-04 04:09] yjhmelody commented on #877
I said that the check should be guaranteed by the developer, so the logic of non-zero value check is not needed, which should reduce the code. Otherwise, Otherwise, isn’t it checked twice?

[2021-08-04 08:57] cmichi opened #886 "Add global clippy rule for allowing `bool_assert_comparison`"
This issue is blocked by https://github.com/rust-lang/cargo/issues/5034.

We want to have a global clippy rule which allows syntax a la:
[code]
This is the [bool_assert_comparison](https://rust-lang.github.io/rust-clippy/master/index.html#bool_assert_comparison) rule, which should be allowed.

With https://github.com/paritytech/ink/pull/884 we unfortunately had to change `assert_eq!(flipper.get(),

[2021-08-04 09:04] seanyoung commented on #641
Solang has a major problem where errors are swallowed, so this work is very useful. The biggest problem is that the error itself is not surfaced anywhere; this can be the result of `revert("foo is not permitted");` or divide by zero. There are also various error paths like incorrect function selector or scale encoded arguments are too short.

From reading this issue I can see that with `revert_on_

[2021-08-04 09:22] athei commented on #641
When passing the revert bit you are supposed to encode the error in the output buffer for the caller to handle. Basically what you would consider a runtime error in Rust (`Result` based error handling). I guess this isn't a concept in solidity.

This is why you should just emit an `unreachable` instruction in this case I think. For the error string you have a choice:

1. Emit it via `seal_debug_me

[2021-08-04 09:35] seanyoung commented on #641
Solidity does have an concept of an encoded error; ethereum solidity uses ethereum abi encoding for this. For Substrate/Solang we can generate the output buffer in any format we like.

I guess what I am missing is what format I should use; is there a standard encoding for this which e.g. polkadot-js can decode or is up to the client code to manually decode the error?

[2021-08-04 11:09] xgreenx commented on #641
I will try to describe the whole flow, how it can be implemented and used, based on the conversations above.

Let's highlight that we have two types of errors that can be used for error forwarding/debugging: [`ContractTrapped`](https://github.com/paritytech/substrate/blob/master/frame/contracts/src/lib.rs#L601) and [`ContractReverted`](https://github.com/paritytech/substrate/issues/9338). I guess

[2021-08-04 12:13] seanyoung commented on #641
@xgreenx thank you for taking the time to explain this. I had totally missed that the metadata will say that the return type is a `Result`. Now I understand the scheme, it totally makes sense and I think it looks nice.

- The metadata field is called `revert_on_err` which makes sense from an Ink! perspective, but from a metadata perspective not so much. How about `result_err_on_revert` for the met

[2021-08-04 14:21] #591 closed

[2021-08-04 18:23] cmichi commented on #839
@vidarthedev Did you manage to fix the issue? If not, could you post a minimal example reproducing your issue?

[2021-08-04 18:40] cmichi commented on #816
@VadneyK Sorry for the late reply. I just tried building the contract from your `master` branch which works fine, for the tests there are some `insufficient funds` panics, but they compile fine. Could you describe if you're still encountering problems?

A number of things changed in the meantime and you should upgrade to the latest `cargo-contract`:
[code]
You should also replace the `rc3` referen

[2021-08-04 18:43] cmichi commented on #765
I'll close this issue out of inactivity, feel free to create a new one if you feel there is still an issue.

[2021-08-04 18:44] cmichi commented on #758
I'll close the issue, since it is inactive since a while and my understanding is that the question has been answered.

[2021-08-04 18:44] #758 closed

[2021-08-04 19:14] cmichi commented on #875
@tk-o Is your problem still existing? If so, which one is it? The original question was regarding cross-contract calls, but your last comment describes an issue with transferring value via a TypeScript API.

[2021-08-05 06:35] cmichi commented on #641
@xgreenx Thanks for summarizing!

About having a metadata field: I think there is some unclarity/misunderstanding here and I don't see a mention of a metadata field in the summary, only of an ink! attribute.

Regarding a dedicated ink! attribute which would specify that a revert should happen on `Err`:
We will most probably omit this idea and just have ink! revert the transaction if there is a `Re

[2021-08-05 07:11] vidarthedev commented on #839
I did not. Adding "rlib" helped but I get that error:

5 | use other_contract::OtherContract;
| ^^^^^^^^^^^^^^^^-------------
| | |
| | help: a similar name exists in the module: other_contract
| no OtherContract in the root

Please see below the simple example. Maybe something wrong with the setup. I've added:
crate-type = [
    # Used for normal contract Wasm blobs.
    "cdylib",
    # Used for

[2021-08-05 07:43] cmichi commented on #839
@vidarthedev I think what you are likely missing is a
[code]
in your `other_contract.rs`. For `delegator` we have this here in the sub-contracts: https://github.com/paritytech/ink/blob/master/examples/delegator/adder/lib.rs#L17.

Does it work then?

PS: You can use [Markdown syntax](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-

[2021-08-05 08:08] xgreenx commented on #641
We will most probably omit this idea and just have ink! revert the transaction if there is a Result::Err(…) returned. It's already a big source of confusion, with users regularly misunderstanding that there is currently no automatic revert on Err and we think having a revert be the default behavior for a returned Err seems like a good design choice, preventing a large class of expensive bugs.

I t

[2021-08-05 09:12] seanyoung commented on #641
I only wanted to point out that if there is an metadata attribute called `revert_on_err` then that's not very descriptive, I think. I agree that if is possible to not have a metadata attribute, then that is even nicer.

[2021-08-05 14:30] cmichi commented on #364
I just tried to reproduce this bug with our latest versions of ink!, `canvas-node`, `cargo-contract` and `rustc 1.56.0-nightly (2827db2b1 2021-08-01)`. This is no longer possible, the contract can be deployed just fine. I assume the bug disappeared at some point and am closing this issue therefore.

[2021-08-05 14:34] athei commented on #364
I have heard that you work on automated regression tests. Maybe this would be a candidate for it. So we can detect when it reappears on a newer nightly.

[2021-08-05 14:52] cmichi commented on #364
@athei Yes, for contract size regressions: https://github.com/paritytech/ink-waterfall/issues/4.

It's a good idea to add a contract which provoked this bug to the waterfall and see if it still deploys fine in the future, I'll add it.

[2021-08-07 11:46] tk-o commented on #875
Hey @cmichi, I was not able to resolve the problem from my last comment in here. I can create a separate issue if that's more suitable 🙃

[2021-08-07 12:45] xgreenx commented on #875
You can debug errors via `ink_env::debug_println!`.

For example:
[code]

Returns:
[code]

It is because you didn't deploy the code of `lock` contract into the network.

[2021-08-07 19:32] garrettmaring opened #889 "Building `ink` contract with `parity-scale-codec` with `derive` feature fails"
**Describe the bug**

Since upgrading to `3.0.0-rc4`, I get an error when compiling my contract.

When compiling `scale` with the `derive` feature, usage with other packages that use `std` fails.

[code]

**Screenshots**

![Screen Shot 2021-08-07 at 11 56 32 AM](https://user-images.githubusercontent.com/8270120/128611874-bd372a92-1517-4961-82d6-768ef3c3b494.png)

**Additional context**

I am impor

[2021-08-07 21:18] garrettmaring commented on #889
For some additional context, I was able to remove my reliance on scale for this contract *yet* I instantiate this contract with a reference to another contract. That contract is an ERC20 contract and per the documentation requires scale.

[2021-08-08 19:55] garrettmaring commented on #889
Some additional context here

I've cut more dependencies that could be triggering the duplicate lang. I widdled things down to a point where it was building and have started adding things back in

One dependency that breaks is using `sp-keyring` in my dependencies

So is, the issue seems to be using any *other* crate that doesn't support non-std since ink_env already uses std? Is there possibly a

[2021-08-09 08:30] seanyoung commented on #641
I've read through this issue a few times now, in order to implement this in Solang. The metadata attribute is not well described, I think. It's not even clear to me if it is needed.

- If the transaction should be reverted when an error occurs, then this is handled by ink! itself. It simply sets the revert flag on `seal_return`. This is specified by the `revert_on_err` ink! attribute.
- Whether a

[2021-08-09 09:27] athei commented on #641
The UIs only display the result of the top level contract as an error when the **dispatchable** returns an `Err`. Please note that this is completely different from a contract returning an `Err`. The latter is merely something that gets encoded into the output buffer when the **dispatchable** returns `OK`.

Now to the interesting part (what this issue is about): When the dispatchable returns an `O

[2021-08-09 09:45] xgreenx commented on #641
Let's use "UI should treat this case as a **revert**". Because the revert doesn't mean an error=)

Why `ContractReverted` can't store the output buffer inside? Like `String` or `Vec<u8>`, and UI will be able to decode the result based on metadata(Let's call it ABI in this context to be more clear).

Why do we have different behaviors for off-chain and on-chain transactions? Maybe will be more simp

[2021-08-09 10:02] seanyoung commented on #641
In ethereum/Solidity on-chain transactions can return either an error or some data. The fact that this can't be done on substrate  is a real pain point for Solang.

[2021-08-09 10:24] athei commented on #641
Fine. UIs can display that in whatever way they think is best to communicate the result to their users. Just out of curiosity: In which non-error state do you think it is useful to revert?

Because we are not allowed to emit arbitrary data to the block. Any data emitted there would become part of the block. The same reason why errors are not strings but just indices. It is just a convention in sub

[2021-08-09 18:51] HCastano commented on #889
@garrettmaring In general you **should not** be mixing `std` dependencies with `no_std` dependencies. `std` dependencies bring in things like panic handlers and out-of-memory handlers which you may or may not want in a `no_std` build.

In your particular case, the problem lies in Cargo leaking features between regular dependencies and dev-dependencies. In the [Cargo Book](https://doc.rust-lang.org

[2021-08-09 18:51] #889 closed

[2021-08-10 05:12] garrettmaring commented on #889
@HCastano thanks for that pointer—cheers!

[2021-08-10 07:35] seanyoung commented on #641
Just because it isn't stored in the block, doesn't mean it can't be done. The return buffer can be re-computed, maybe through an RPC which reruns the wasm with the right input state?

[2021-08-10 08:34] xgreenx commented on #641
@athei

I can't imagine that=D But the developer still can return a result with `Ok` and some value, but mark it like a `REVERT` and then I can't say that it is "error". It is "revert"=)

I see. If you are using that errors to store information about the execution of the call in the blockchain, then it makes sense.

Yes, because the developer can return something in the `Ok` case and in the `Err`

[2021-08-10 08:51] athei commented on #641
That makes sense.

I didn't understand this at all. Sorry. Maybe this helps: No matter whether a `call` dispatchable is submitted via an extrinsic (on-chain)  or an RPC (off-chain) the same code is run. The only difference is that the RPC can return data while the extrinsic cannot. Returning data from a contract has two uses:

* Return data to a a calling contract. (i.e the returning contract is *

[2021-08-10 12:04] xgreenx commented on #641
I understand that. I'll try to describe what I meant=)
We have a "Send transaction" action. At the moment the output for this action is extrinsic. Under the hood, this action still does a request with the transaction to the blockchain and waits for the response, when the transaction will be confirmed.

And here we can add some additional features like: "Hey, blockchain. I sent you a transaction an

[2021-08-10 13:38] athei commented on #641
In theory this would be possible. In practice an **extrinsic** is not allowed to return arbitrary data and therefore this isn't possible on polkadot. One reason I can imagine why this is is because this would not work with light clients which do not execute imported blocks. Polkadot tries really hard to not break light clients.

This a a lot of complexity for something for which the solution alrea

[2021-08-11 05:54] cmichi opened #891 "Adapt `rand-extension` example to pass arguments to the runtime"
This is a question that comes up sometimes. We should illustrate how this can be done in our `rand-extension` example.

See this Stack Overflow question for more details: [How do you pass and handle arguments to a `ChainExtension`?](https://stackoverflow.com/questions/68332726/how-do-you-pass-and-handle-arguments-to-a-chainextension).

# ToDo
- [x] Pass an argument from ink! into the runtime's cha

[2021-08-12 10:55] cmichi opened #893 "Replace panicking behavior of dispatcher with revert flag and output buffer"
I created this follow-up for https://github.com/paritytech/ink/pull/892 so that we do not forget about it.

This issue is blocked by https://github.com/paritytech/ink/issues/641.

[2021-08-12 12:42] vidarthedev commented on #839
Wow, it works. Thank you so much !!!

[2021-08-12 13:00] cmichi commented on #839
:+1:

[2021-08-12 13:00] #839 closed

[2021-08-20 12:48] PierreOssun opened #896 "Add support for recovering public key from elliptic curve signatures (ECDSA)"
Can we add support for recovering public key from elliptic curve signatures (ECDSA) to !ink ?

We are trying to implement an ECDSA verifier in a contract. For this we are using recover function from the [libsecp256k1](https://github.com/paritytech/libsecp256k1) library from parity also used in Substrate.
The problem is that it uses a big list of constant that made cargo build fail due to its huge

[2021-08-23 17:26] cmichi commented on #896
If we want to have this it would have to be implemented in the `contracts` pallet. I'm moving the issue to the appropriate repository.

cc @athei

[2021-08-23 17:43] xgreenx commented on #875
@tk-o Did you resolve your problem? If yes, we can close this issue=)

[2021-08-24 23:25] rcny opened #897 "Tests are failing on latest nightly"
Hi!

`ink-ci-linux:production` image, which is used in ink! and related projects pipelines, is stuck with `1.56.0-nightly (0fa319039 2021-08-12)` due to failing ink! tests on recent nightlies. [Here is failing test job example](https://gitlab.parity.io/parity/ink/-/jobs/1080742) with staging image bundled with `rustc 1.56.0-nightly (a49e38e67 2021-08-23)`.

I'm unable to gracefully promote current

[2021-08-25 06:04] KiChjang commented on #897
This looks like a UI test failure due to nightly compiler diagnostic changes. Here's an example:

[code]

We're gonna have to update UI test expectations with the latest nightly.

[2021-08-25 09:44] cmichi opened #900 "Rename `name` in metadata to `label`"
In our metadata we currently have a `name` Array field for constructors, messages and arguments.

There are some issues with it:

* Contrary to the term it is not actually any kind of identifier. This field does not have any impact on contract execution, it is used purely for display purposes in the UI's.
* We have a field `selector` which actually serves as the identifier. There is some concern t

[2021-08-25 09:55] cmichi commented on #804
In terms of checking if an `AccountId` is a contract I think it is fine. With this we have specified everything now for the original issue. For the `contracts` we have created this issue: https://github.com/paritytech/substrate/issues/9064, as soon as the `contracts` pallet one is done we can implement it in ink!.

I think a standard alike to Erc165 would be best for finding out if a contract supp

[2021-08-25 10:13] cmichi commented on #897
I've fixed the original error with our error fixtures.

However: There is one other issue, which currently prevents the CI from running through (and hence building new Docker images). It will take a bit of time to untangle this.

[2021-08-25 10:31] xgreenx commented on #804
Yes, Erc165 can be implemented like a PSP. My idea was that a contract pallet can answer a question that some contract has a method with `selector`. Because incase of Erc165 and the `supportsInterface` method you need to load the whole storage and call only one method. Be more optimal to do that on the contract pallet level(if it can be implemented easily).

[2021-08-25 11:28] tk-o commented on #875
Hey @xgreenx, thanks for a follow up. Just to address what you mentioned above:

I didn't want to deploy the lock contract, just have it deployed by the lockdrop contract.

[2021-08-30 06:54] seanyoung commented on #900
- Should be there be defined upgrade path for polkadot-js/Canvas UI? Something like: try `label` first, else fall back to `name`. Or will just this change from one version to the next?
- Making this a string rather than an array is a good thing, I think.

[2021-08-30 10:05] cmichi commented on #900
Good point and good idea! We should specify this fallback in the follow-up issues for the UI's.

[2021-08-30 13:12] xgreenx commented on #900
I agree with everything=)
The string will be more clear for developers instead of the array. If they want, they can easily split it with `::`.
`label` is more descriptive than `name`.

I can rework https://github.com/paritytech/ink/pull/859 and add `label`, string instead of the array. Do I need to add support for changing the name of the arguments?

Something like that:
[code]

Or it will be impl

[2021-08-30 14:41] cmichi commented on #900
Good to hear :-)!

That would be awesome!

No, let's leave it out for now.

[2021-09-03 16:44] gilescope commented on #886
To unblock you: https://crates.io/crates/cargo-lints

[2021-09-06 16:44] cmichi opened #906 "Remove all state rent related complexity"
Follow-up to https://github.com/paritytech/substrate/pull/9669.

## ToDo

- [ ] Remove all logic originally introduced for state rent ‒ tombtone, deposit, rent status, etc..

[2021-09-06 16:46] cmichi commented on #539
Closing as a follow-up to https://github.com/paritytech/substrate/pull/9669.

[2021-09-06 16:46] #539 closed

[2021-09-06 16:48] cmichi commented on #786
Closing as a follow-up to https://github.com/paritytech/substrate/pull/9669.

[2021-09-06 16:48] #786 closed

[2021-09-09 06:13] cmichi opened #910 "Research reducing monomorphization bloat by delegating to non-generic implementations"
These two blog posts describe techniques for reducing monomorphization bloat by having only a thin generic interface layer, which immediately delegates to a non-generic implementation:

https://llogiq.github.io/2019/05/18/momo.html

https://matklad.github.io/2021/09/04/fast-rust-builds.html

The Hackernews comments also contain some good ideas: https://news.ycombinator.com/item?id=28425095.

There

[2021-09-10 15:16] cmichi opened #915 "Asses "Smart Contract Weakness Registry" attack vectors for ink!"
The other day somebody asked in our public channel about looking into how ink! behaves for the attack vectors described in the [Smart Contract Weakness Classification and Test Cases](https://swcregistry.io/).

Ideally we would go through the entire list and assess if/how we handle it in ink!. Possibly as a page in our `ink-docs`; we could add each point there one after the other as individual PR's

[2021-09-10 18:15] hunterpp commented on #915
Important work ;-) -Someone ;-)

[2021-09-12 11:32] Robbepop commented on #818
I think this can be closed. Please re-open if you think there is work left.

[2021-09-12 11:32] #818 closed

[2021-09-12 11:37] Robbepop commented on #826
In the past we were overly restrictive with respect to checks like the one mentioned in this issue.
I currently see no reason why we should not allow `mut` specifier for message or constructor parameters as long as there are good examples.
@JayPavlina can you provide us with a good real-world usage example to where the above `mut` specifier would help you in particular? Thank you!

[2021-09-12 11:44] Robbepop commented on #906
There is a lot more tied to the decision to entirely disregard state rent for ink!.
For example, we will need a partial rewrite of our storage infrastructure and traits as the `SpreadLayout` and `PackedLayout` clear functionality will no longer really be needed.
Many `storage` facilities have been written in a way to allow for automatic removal of unused storage which also is no longer necessary w

[2021-09-12 11:45] Robbepop commented on #910
We might also find a lot of use for this technique in heavily used derive dependencies such as `parity-scale-codec`.

[2021-09-12 13:37] JayPavlina commented on #826
[code]
Without the `mut`, you have to do something like this before (if it implements Copy, I can't remember if it does)
[code]

[2021-09-13 07:49] cmichi commented on #910
That's a good point. And also a reminder of why the compiler team efforts are necessary despite any of the changes we will make to ink! (i.e. third party crates which have monomorphization bloat).

[2021-09-13 08:12] cmichi opened #916 "Make it possible to skip storage's lazy behavior and caching"
We need to look into minimizing complexity in ink!. This is needed for https://github.com/paritytech/substrate/issues/9354.

### Problem Statement

We found that when compared to Solang-compiled contracts, ink! contracts are about three times larger (ink! ERC-20: 30K, Solang: 9K when manually run through `wam-opt`). The most likely explanation is that in Solang/Solidity there is no layer between r

[2021-09-13 08:16] cmichi commented on #873
I'm closing this issue, since we've now created a couple of follow-up issues (see https://github.com/paritytech/substrate/issues/9354 for the tracking issue).

As a sidenote I'm adding that
[code]
will show you generics monomorphization bloat ([source](https://github.com/rust-analyzer/rust-analyzer/issues/10065)).

[2021-09-13 08:16] #873 closed

[2021-09-13 09:15] ascjones commented on #910
I always wondered what that `fn inner` was about! TIL

[2021-09-13 22:52] xgreenx commented on #910
What do you think about rewriting the `parity-scale-codec` and some traits/logic(`SpreadLayout`, `StorageLayout` and etc) in the ink! to use dynamic dispatching instead of monomorphization?

I think that the combination of https://github.com/paritytech/ink/issues/916 really will reduce the size of the contract.

BTW, adding the getter/setter/method to the contract adds ~0.3kb, maybe we also can tr

[2021-09-14 05:59] cmichi commented on #906
State rent was removed entirely from the `contracts` pallet with https://github.com/paritytech/substrate/pull/9669, the reasoning is described further in the PR. Right now the methods `seal_rent_status` et al. still exist, so existing contracts don't break. They are only stubs though and return constant values.

The Substrate issue contains close to ten follow-up issues in different repos, where s

[2021-09-14 07:29] Robbepop commented on #906
Okay, so state rent removal is pretty much set into stone from what this reads.
If that's the case we will require some ink! adjustments as well that go well beyond removing those APIs.

[2021-09-14 07:32] Robbepop commented on #910
Dynamic dispatch is not always the cure but also brings plenty of problems with it sometimes.
For example it is much harder for the compiler to optimize across function boundaries and therefore sometimes dynamic calls can even lead to more produced binary code in the worst case.
In ink! we profited a lot by producing code that can be heavily optimized by the compiler which can be observed by the f

[2021-09-14 07:50] Robbepop commented on #906
I thought about it for a moment. Maybe it makes sense to create a project to have a platform where we can discuss what needs to be done for ink! in order to adjust the whole codebase for a world without state rent.
Mainly this will affect `ink_storage` and partially `ink_env`.
There is going to be the need to rewrite a lot of `ink_storage` data structures, redefine the base traits `SpreadLayout` a

[2021-09-14 15:45] cmichi opened #920 "Trim whitespace from metadata field `docs`"
I thought we fixed this a long time ago, but apparently the field `docs` in our metadata still contains whitespaces at the beginning:

[code]

[2021-09-14 15:58] Robbepop commented on #920
I am not sure if this is entirely bad since this is an artifact of the actual Rust code itself.
For example:
[code]
Will produce `" Foo."` as captured documentation string whereas ...
[code]
Will produce `"Foo.".

Also if we treat the output as Markdown we should be careful with removal of whitespace since Markdown has semantic whitespace. E.g. indentation of a block is a code block.

[2021-09-15 15:17] forgetso commented on #740
This should be the error message instead of `ContractTrapped`!

[2021-09-16 15:15] Robbepop opened #922 "Avoid heap allocations while debug printing"
We currently perform a heap allocation every time we use `ink_env::debug_print` or `ink_env::debug_println` macros.
This is due to the usage of `format!` macro that constructs an instance of `String`:
https://paritytech.github.io/ink/src/ink_env/lib.rs.html#141

We can avoid this unnecessary heap allocation and therefore make it far less expensive to use debug printing in ink! and sometimes even g

[2021-09-17 02:36] cmichi commented on #920
Yeah sure, but I think we shouldn't require people to write comments as `///Foo.` just to get rid of whitespaces. Also `rustfmt` automatically corrects to `/// Foo.`.

I agree. I think a valid condition would be to only remove the whitespace if every entry in the `docs` Array starts with a whitespace.

[2021-09-17 07:11] Robbepop commented on #920
Yes but just remove the general whitespace indentation because this is valid markdown, too:

[code]
However, if we see somthing like this:
[code]

[2021-09-17 16:56] athei commented on #910
Just linking https://github.com/paritytech/ink/issues/873#issuecomment-917951666 for reference. This is a method to check for monomorphization bloat. Maybe we can even add convenience command to cargo contract?

[2021-09-22 09:08] Robbepop commented on #737
This is going to be fixed in https://github.com/paritytech/ink/pull/665 where all ink! trait definitions are generic over an ink! contract environment.

[2021-09-23 10:00] cmichi opened #939 "Report error when instantiating a contract from a non-payable message"
I'm creating this issue as a follow-up for https://github.com/paritytech/ink/issues/740.

The issue is that if a contract has a method a la
[code]
Then calling this method will fail *at runtime* with `ContractTrapped`. This is because the `payable` attribute is missing, the message signature should be `#[ink(message, payable)]`.

In an ideal world we would detect this already *at compile time*, th

[2021-09-23 10:03] cmichi opened #940 "Document metadata format"
We should document the metadata format for a stable 3.0 release. Without documentation the hurdle to build third party tools (like different UI's or CLI tools) is too high.

Ideally the `ink-docs` would contain a section on the metadata as well, maybe linking to more extensive documentation in the `ink_metadata` crate?

[2021-09-23 10:14] ascjones opened #941 "Encode metadata version in the metadata itself?"
In https://github.com/paritytech/cargo-contract/pull/347 I am extracting the version of the `ink_metadata` crate to specify the version of the metadata.

This assumes that metadata version == `ink_metadata` crate version, which would be a safe assumption if we are following semver for wire-format compatibility.

However, at the moment we are just bumping `ink_metadata` along with the other `ink!`

[2021-09-23 10:31] Robbepop commented on #941
An argument against using `ink_metadata` crate version to represent ink! metadata format version is that this would unnecessary make it much harder for us to do changes to the `ink_metadata` crate that do not interfere with the format but interfere with Rust specific details. The effect was that we could no longer really do that without disrespecting semver again.

[2021-09-23 11:45] cmichi commented on #939
Closing the issue, since the `payable` is not actually necessary, just verified it. The contract pays entirely from it's own balance for the deployment.

[2021-09-23 11:45] #939 closed

[2021-09-23 12:15] ascjones commented on #941
So do you think the aforementioned approach of an enum (same as `frame-metadata`),

[code]

or having a version field:

[code]

Also the question of backwards compatibility for the existing format which doesn't include the version number. We could add a special prefix to specify that this is now the "versioned" metadata.

[2021-09-23 12:46] jacogr commented on #941
Discussed this with @ascjones over PM. Basically on Substrate metadata we had the same thing - V0 was not an enum, then from V1 onwards it was. So we can actually use that info and the lack of the same fields inside the new to detect, so basically...

This is V0, check for existence of metadataVersion to detect this path -

[code]

This is V1, if we cannot find the above detection field, we parse

[2021-09-23 13:12] cmichi commented on #740
@forgetso I looked into this issue and `payable` is not actually required. If you have some sample contract I could look into why the contract fails. In general I would recommend running your node with `--tmp --dev -lerror,runtime::contracts=debug`. This way you would e.g. see output like `panicked at 'failed at instantiating the new `sub` contract: CodeNotFound'` on the console for the ink! messa

[2021-09-26 07:13] Robbepop commented on #806
With https://github.com/paritytech/ink/pull/928 merged and https://github.com/paritytech/ink/pull/665 in the review process and about to be merged soon we can actually start working on this cool feature request.

[2021-09-27 12:35] Robbepop commented on #806
Note that this feature could be very confusing to users of ink! version `3.0-rc5` and older since until then `selector = value:string` was allowed with `value` being of the form `0xC0DECAFE` or some other hex-encoded `u32` value in this particular form.
If a user does not update their codebase while jumping from ink! version `3.0-rc5` and a future version that implements this new evaluation featur

[2021-09-28 19:47] HCastano opened #945 "Simple Mapping Storage Primitive"
## Motivation

At the moment, `ink!` data structures, such as the `ink_storage::LazyHashMap`, are quite
complicated. This is because they were designed in a very "polite" way. That's to say,
they did a lot of internal bookkeeping to ensure that they cleaned up after themselves,
and that they were only going to the contract storage database when it was absolutely
neccessary.

While this was great f

[2021-09-28 19:59] xgreenx commented on #945
Hi, I've already tested the change like this, so I can briefly describe the result and later provide the full report.
use of simple mapping saves 16 KB for the current ERC-20 example.

[2021-09-29 07:43] Robbepop commented on #945
@xgreenx Is there anywhere we can look up your implementation for the Solidity-like storage mapping?

[2021-09-29 08:28] ascjones commented on #945
[code]
Nit: `insert` instead of `push`?

[2021-09-29 18:16] xgreenx commented on #945
Yes, you can find `SimpleHashMap` [here[(https://github.com/Supercolony-net/ink/blob/simple-storage-map-ink/crates/storage/src/collections/hashmap/simple_hash_map.rs), [diff](https://github.com/paritytech/ink/compare/master...Supercolony-net:simple-storage-map-ink?expand=1).

The problem with this solution is that after the creation of the map, we don't know the storage key of the map. So we can't

[2021-09-29 18:36] Robbepop commented on #945
Thank you for linking your solution.
I wonder why you have a `len` field.

Some remarks and questions:

- I think implementing the `PackedLayout` for the `ink_storage::Mapping<K, V>` is not trivial and maybe not a good idea.
For now I'd leave it away and just implement `SpreadLayout`.
- Why is `key` of type `Option<Key>`? I think it should be just of type `Key`. If the user wants to lazily load ev

[2021-09-29 18:49] xgreenx commented on #945
The map has a `len` field because I tried to create a pattern for any data structure which will work directly with storage. In Solidity, you know the length of the array, so I implemented the same for the map=)

`PackedLayout` was implemented to test the case with a hash map of hash maps=) Also in another project, we tried to have a hash map inside of another hash map via `Box`. But we found some

[2021-09-29 18:56] Robbepop commented on #945
Ah yeah makes sense!

holy! ... x(

[2021-10-06 09:32] Robbepop opened #949 "Wasm file size reduction: Library Components"
Below is a list of isolated actionable items that may reduce the Wasm file size of certain ink! smart contracts if applied correctly and thoroughly throughout the ink! codebase and codegen.

# Todo List

    - [ ] Retire `ToAccountId` and replace with `AsRef<AccountId>`.
        - Returning a reference instead of a value type is important for `AccountId` types which are usually 256-bits in size

[2021-10-06 10:05] Robbepop opened #950 "Use [u8; 32] internally for Key type and see how it affects Wasm file size"
Currently we are using `Key` types with an internal representation of `[u64; 4]` instead of a more simpler `[u8; 32]`.
This is due to the fact that in Wasm `u64` is a supported primitive and therefore computation using it is more efficient than doing lots more computations using `u8` values (cast to `u32` probably).

However, a huge drawback is endian ordering. While we can rely on the fact that W

[2021-10-06 14:18] Robbepop opened #951 "Add more UI tests for ink! chain extensions"
Currently we only have a single passing UI test for ink! chain extensions.
This is nowhere near where we want to be with respect of user facing tests.

Ideally we have some smaller passing UI tests that don't try to cover everything like the current existing passing UI test.
Also we'd have a failing UI test for all the things we explicitly want to catch, warn or error.

The new ink! chain extensio

[2021-10-06 14:22] Robbepop opened #952 "Follow-up #665: Make ink! chain extensions use is_result_type! utility macro"
The https://github.com/paritytech/ink/pull/665 PR introduces some new `is_result_type!` utility macro to check at compile time whether some type is a `Result` using the Rust type system.
This means that we can get rid of the `returns_result: bool` ink! attribute of ink! chain extensions since it is now possible to infer this information via the proc. macro itself.

[2021-10-13 16:17] cmichi opened #956 "Add example which demonstrates difference in behavior of return type `Result` for contracts"
This is a follow-up to https://github.com/paritytech/ink/pull/665.

We should create an example to illustrate how revert-on-`Err` works. The example should especially highlight that `Result` behaves different if returned from a root contract vs. returned from child contracts.

## ToDo

- [ ] For this purpose the example should have root and a child contract: The child contract should expose a mess

[2021-10-14 10:19] yjhmelody opened #958 "Provide seal function level offchain engine?"
Provide seal function level offchain engine?
By compiling into wasm and exporting the function of offchain engine to a wasm env, all contract languages that support pallet-contract can obtain the ability of offchain unit test.

[2021-10-15 10:59] Robbepop opened #961 "Add a way to allocate a storage facility using spread (and packed) layouts."
# Manual Storage Allocation

## Motivation

When dealing with the `Mapping` storage facility introduced in https://github.com/paritytech/ink/pull/946 we clearly see that ink!'s current storage management and constructors do not allow for storage facilities that do not support caching their intermediate state.

So far this has not been a problem since all major storage facilities provided by the `i

[2021-10-16 13:21] Robbepop opened #964 "Add syntax sugar for SpreadLayout::spread_allocate using ink! constructors"
# Spread allocate constructor syntax sugar

## Motivation

With #961 it will become common to define ink! constructors in a way to allow for storage facilities that require initialization using `SpreadLayout::spread_allocate`.
An example ERC-20 using this initialization method may look like the following:

[code]

The above code is quite verbose for a constructor pattern that may become a common p

[2021-10-18 09:16] athei commented on #854
You have to keep in mind that extrinsics cannot return any data (only success/fail). They communicate via events with the offchain world. So something like `rand-extension` isn't possible with `seal_call_runtime`. It is unstable for a reason. There are several open questions around it:

- Is it OK that it can't return data or should we make an effort to deliver events (asynchronously) to contracts

[2021-10-18 09:24] athei commented on #854
Explained [here](https://github.com/paritytech/substrate/blob/abeea6d04d72eddb136ec494298035977c9cdbe4/frame/contracts/src/wasm/runtime.rs#L1691-L1701).

[2021-10-19 21:25] Robbepop commented on #949
I began working on:

However, it is a bit unfortunate to work on it before #665 has been merged since most of the work for the ink! codegen has to be redone there. I am not done entirely but already see some improvements for the Delegator example contract.

[2021-10-21 08:24] Robbepop opened #972 "Specialize `ink_env::on_chain::get_property` for when operating with types that implement `AsMut<[u8]>`."
This issue is about optimizing a utility function that is the foundation to many of the property query functions with which ink! interoperates with SEAL. Some examples of properties include `self.env().caller()`, `self.env().transferred_balance()` or `self.env().balance()`, etc ...

## Current State

Current the [get_property](https://github.com/paritytech/ink/blob/e8d4739649293a458c3958bec802d2d7

[2021-10-21 08:46] xgreenx opened #973 "`ink_codec` library to use dynamic dispatch instead of monomorphization"
As part of our [grant](https://github.com/w3f/Grants-Program/blob/master/applications/openbrush-follow-up.md#milestone-3-reduce-the-size-of-erc20-contract), we want to help to reduce the size of contracts. We analyzed the binary(web assembler) file and found that ink! generates many the same code in the case of `scale::Decode` and `scale::Encode`.

So, we decided to create the `ink_codec` library

[2021-10-21 12:18] athei commented on #641
This is just wrong. Even in case of `CalleeReverted` the output buffer is copied to the calling contract.

[2021-10-21 12:27] xgreenx commented on #641
Okey, so it must be implemented on ink! side. @Robbepop At the moment after cross call ink! receives `CalleeReverted `, does `expect`, and fails with `ContractTrapped`.

[2021-10-21 12:55] Robbepop commented on #641
Ah I think I finally get what you mean. I will inspect it.

[2021-10-21 13:02] athei commented on #641
I think we are mixing two separate concerns in this discussion:

1. Error handling between contracts.
2. Presenting the return value of the top level contract to the UI.

I will comment on 2:

It won't work because the transaction won't return anything. Even if if [the dispatchable](https://github.com/paritytech/substrate/blob/05af3c2c06caa85485e0c8eaa1c829da1a379c84/frame/contracts/src/lib.rs#L26

[2021-10-21 13:59] athei commented on #641
You are completely right about 1. This is already implemented. The UIs just don't make use of it right now.

Events are something that are in the domain of the individual Dapps that build on ink!. A generic UI would just show all events generated by a contract. They can be decoded through by using the  ABI file.  Please keep in mind that the target audience of those generic UIs are contract develo

[2021-10-21 14:48] pormeu opened #976 "Invalid ABI file — Error: Invalid JSON ABI structure supplied, expected a recent metadata version"
Hey guys, the repo for the beginner ink! workshop looks archived, so I'm trying to ask my question here.

For context, my development environment looks like the following (from dependencies in `Cargo.toml`):
[code]

Also, you can note that I use the following version with `cargo`, and `rust`:
[code]

With this setup, I have followed each and every step of the tutorial for building and deploying th

[2021-10-23 20:04] garrettmaring opened #980 "rc6 breaks anything that depends on generated metadata.json"
**Questions**

How can I pin an rc version in my Cargo.toml? I'd like to stay up-to-date with RCs but they often break dependencies. For example, the new rc6 release changes the generated metadata.json for ink contracts causing https://github.com/polkascan/py-substrate-interface/blob/f8b37fee552c7d12562d3d1f0f030ad3d3c88fc5/substrateinterface/contracts.py to fail.

**Describe the bug**

It seems l

[2021-10-24 00:29] garrettmaring commented on #980
I've added `=3.0.0-rc5` now to my Cargo.toml to rebuild with a prior version. However, now I'm seeing an unimplemented `Display` trait for `DispatchError`

![Screen Shot 2021-10-23 at 5 29 20 PM](https://user-images.githubusercontent.com/8270120/138575339-87a75d41-3466-43ab-84b9-26459c2665f0.png)

[2021-10-25 10:52] xgreenx opened #982 "New `trait_definition` fails if to use two traits."
A new `trait_definition` [generates](https://github.com/paritytech/ink/blob/e8d4739649293a458c3958bec802d2d750067d98/crates/lang/codegen/src/generator/as_dependency/call_builder.rs#L100) `CallBuilder`. But the builder is not unique, so the usage of two traits will generate two same builders. It causes an error during compilation.

What do you think to create one general `CallBuilder` on the ink! l

[2021-10-26 15:51] xgreenx opened #985 "Feature `revert_on_error` doesn't work"
`is_result_type` returns `false` for `Output`. So during execution, the contract will be not reverted. https://github.com/paritytech/ink/pull/984 adds two tests to reproduce the problem and also provides a possible solution.

[2021-10-26 16:46] frankli-dev opened #986 "How to upgrade ink! version?"
What is the stable version of Ink?
I need to implement unit testing of ink contracts. Which version is appropriate for this?
To upgrade to that ink version (from 3.0.0-rc3), what changes needed?
- substrate version
- cargo-contract version
- nightly version
- ink version

[2021-10-26 16:47] frankli-dev opened #987 "`DispatchError` doesn't implement `Display`"
When I build Ink! contract, I get the following error

[code]

I get this error once I upgrade the ink version from =3.0.0-rc3 to =3.0.0-rc5

How can I fix this? please help

[2021-10-27 14:07] aaku1234 opened #1028 "ERC721 smart contract deployment issue"
system.extrinsic failed others deploying smart contract .Following this github code for ERC721 https://github.com/allanperlee/Nftoken

[2021-10-29 13:50] Robbepop opened #988 "Support Result<Self, E> returning ink! constructors"
Currently it is not possible to return anything but `Self` in ink! constructors.
This is an artificial limitation created to make things a bit easier, however, technically as well as from a design perspective nothing speaks against introducing fallible ink! constructors.
They will behave in the same way to fallible ink! messages in that they will revert state in case `Result::Err` is returned.

Ma

[2021-10-29 13:57] Robbepop opened #989 "Support ink! messages and constructors that take references as parameters"
Currently ink! messages and constructors are required to be `Sized` and `scale::Decode`.
This means that ink! messages and constructors that take simple references are not allowed, e.g.:
[code]
This is a downside with respect to Wasm file sizes since in Wasm references are 32-bit sizes while types such as `Balance` and `AccountId` have massive sizes that force Wasm to costly put them on the shadow

[2021-10-29 19:32] forgetso commented on #740
Thanks for investigating @cmichi. I'm running into this issue again and I'm using the contracts node with `substrate-contracts-node --dev --tmp --unsafe-ws-external --rpc-cors all --ws-port=9944 -lerror,runtime::contracts=debug` but I don't get anything printed at all. The ink! function I'm calling has lines like `ink_env::debug_println!("{:?}", caller);`. Any thoughts on why nothing appears in th

[2021-10-30 07:40] Robbepop opened #990 "Reduce Wasm code bloat of emitting ink! events"
Currently emitting ink! events is very costly with respect to Wasm file sizes.
The Wasm file size bloat primarily stems from the fact that upon emitting an event we first create an event instances that we immediately encode.
The creation process under Wasm is very costly if an event instance has a large memory footprint.
In the ERC-20 example contract we have several events with a structure like:

[2021-10-30 07:53] Robbepop opened #991 "Automatically implement SpreadAllocate for ink! storage struct if all fields implement SpreadAllocate"
Currently the ink! codegen does not implement `SpreadAllocate` for the `#[ink(storage)]` struct.

This leads to us having to implement it manually in the adjusted ERC-20 example contract here: https://github.com/paritytech/ink/pull/979

Since ink! codegen already by default produces implementations for `SpreadLayout` for the `#[ink(storage)]` struct it would be natural to produce a `SpreadAllocate

[2021-10-30 08:36] Robbepop opened #992 "Implement utility function for spread allocate contract initialization"
Currently when using the new `SpreadAllocate` trait to initialize an ink! smart contract a lot of things have to be orchestrated by the ink! smart contract author themselves.

One of the things is the verbose smart contract allocation and transferal to the initialization function as shown below extracted from the adjusted ERC-20 example from this PR: https://github.com/paritytech/ink/pull/979
[cod

[2021-10-30 08:41] Robbepop opened #993 "Add derive macro for SpreadAllocate trait"
https://github.com/paritytech/ink/pull/978 has added a new `SpreadAllocate` trait which is useful for default initializing ink! contracts onto some storage region which was not really possible before.

This trait is very much needed for non-caching storage facilities and collections such as the `Mapping` type first introduced in https://github.com/paritytech/ink/pull/946 and refined in https://git

[2021-10-30 08:46] Robbepop opened #994 "Separate tests from implementation in example contracts"
Currently when viewing the source code of our example contracts they might look overwhelming at first for people that are not experienced with Rust with many hundreds of lines of code.
However, with many of the examples most of that overwhelmingly looking code is actually just test code.
Therefore in my opinion we should put all of that into another module `tests.rs` so that the `lib.rs` where the

[2021-10-31 12:22] Robbepop commented on #987
This should be fixed in ink! 3.0-RC6.

[2021-10-31 18:16] HCastano opened #996 "Review Existing Storage Type Sizes"
We should go through the existing caching types we have and see if they're viable for deployment on a parachain in terms of size. Any that aren't should be considered for deprecation.

[2021-10-31 18:32] cmichi opened #997 "Remove state rent related API functions"
Follow-up to https://github.com/paritytech/substrate/pull/9669.

Relates to https://github.com/paritytech/ink/issues/906.

## ToDo

- [ ] Remove API functions to state rent ‒ tombtone, deposit, rent status, etc..

[2021-10-31 19:12] HCastano commented on #986
@frankli-dev I'm gonna close this, let us know if your issue isn't resolved.

[2021-10-31 19:12] #986 closed

[2021-11-01 00:53] frankli-dev commented on #986
Yeah, it is resolved

Thank you

[2021-11-02 12:41] atenjin opened #1000 "In cross-call contract, ink! cannot pass compile for the parent contract contains event"
**Questions**
It's a bug in ink!, it may appear after pr  https://github.com/paritytech/ink/pull/665

**FAQ**

ink! version: e8d4739649293a458c3958bec802d2d750067d98
cargo-contract version: cargo-contract 0.15.0-unknown-x86_64-linux-gnu

**Describe the bug**
example repo:
https://github.com/atenjin/ink-event-bug

in this repo, test2 contract crate depends on test contract crate. So the contract `T

[2021-11-03 02:24] frankli-dev commented on #987
yeah. It works with RC6. Thanks

[2021-11-03 02:24] #987 closed

[2021-11-03 02:56] frankli-dev opened #1001 "Unable to deploy ink contract with chain extension. (ExtrinsicFailed: Other)"
[code]

I have the following code in the ink! contract to call the extension function
[code]
But when I deploy the ink contract, it fails with the following error

![image](https://user-images.githubusercontent.com/51565705/140003941-6f44fd24-546e-40f6-9809-ccd64e17ac3f.png)

![image](https://user-images.githubusercontent.com/51565705/140004109-b3d9cf43-3756-4237-a6f5-fa9672dcbc29.png)

However, i

[2021-11-03 19:06] xgreenx opened #1002 "Return `NotCallable` if contract hasn't method with selector X and hasn't a fallback function"
If during cross contract call the callee contract hasn't a selector, ink! will panic and cross contract call will return `CalleTrapped`.

I think we should return another error, for example, `NotCallable` in this case to identify to the caller, that call can't be processed.

In the future, ink! will have a fallback function. So the rule is: "if contract hasn't method with selector X and hasn't a f

[2021-11-08 01:23] frankli-dev commented on #1001
Any help please?

[2021-11-08 13:23] #985 closed

[2021-11-08 15:17] cmichi commented on #886
Some lints can also be configured in a `clippy.toml`: https://github.com/rust-lang/rust-clippy#configuration.

Not sure if this is applicable here.

[2021-11-08 17:13] cmichi commented on #1001
@frankli-dev I think this is likely an issue with the runtime side. Is there a chance you could point us to the corresponding runtime code?

[2021-11-08 17:18] frankli-dev commented on #1001
@cmichi sure
https://github.com/Polkadex-Substrate/Polkadex/blob/develop/runtime/src/lib.rs

[2021-11-08 17:29] cmichi commented on #1001
@frankli-dev The first thing I noticed is that it's still `type ChainExtension = ();` in there, but should be `CustomChainExtension` (probably `impl_uniswap::CustomChainExtension`).

[2021-11-08 17:31] cmichi commented on #1001
@frankli-dev Another thing which you should check is that the contract code above has
[code]
But the runtime has only an extension for `0` and `1`.

[2021-11-08 17:32] frankli-dev commented on #1001
@cmichi sorry, it is mismatched code. I will share you the correct branch

[2021-11-09 03:10] frankli-dev commented on #1001
@cmichi nice you are right, `type ChainExtension = ();` was wrong. It works now.

[2021-11-09 03:10] #1001 closed

[2021-11-09 06:25] cmichi commented on #958
I'm closing this issue, feel free to reopen if you think there is still something to be discussed.

[2021-11-09 06:25] #958 closed

[2021-11-09 06:27] cmichi commented on #980
@garrettmaring My understanding is that your problems have been solved and I'll close the issue therefore. Feel free to reopen otherwise.

[2021-11-09 06:27] #980 closed

[2021-11-09 06:53] cmichi commented on #976
I'm closing this issue since https://github.com/paritytech/canvas-ui/pull/114 was merged and the Canvas UI should be working again. Feel free to reopen if you have a different view.

[2021-11-09 06:53] #976 closed

[2021-11-09 06:59] cmichi opened #1007 "Remove `--tmp` from Substrate node command-line instructions"
Follow-up to https://github.com/paritytech/substrate/pull/9938.

tl;dr: `--dev` now implies `--tmp`.

## ToDo
- [ ] Review `ink-waterfall`.
- [ ] Review `ink-docs`.
- [ ] Review [workshop](https://docs.substrate.io/tutorials/v3/ink-workshop/pt1/).
- [ ] Update `/assets/tutorials/ink-workshop/start-canvas-node.png` screenshot in workshop.
- [ ] Review `substrate-contracts-node`.
- [ ] Review `canva

[2021-11-09 07:08] cmichi opened #1008 "Detect invalid combination of call flags and execution input at compile time"
Follow-up to https://github.com/paritytech/ink/pull/960.

We should throw a compilation error if for cross-contract calls `call_flags.forward_input() == true || call_flags.clone_input() == true` while at the same time an execution input is specified. In this case the call flags imply that the execution input will never be used.

Ideally this would not be an `expect(…)` at runtime, but rather an er

[2021-11-09 13:59] HCastano opened #1009 "Remove `allow(clippy::if_then_panic)` from spread allocate tests"
Follow up to #995.

As per the code:

[2021-11-09 15:20] HCastano commented on #1009
😄

[2021-11-09 16:58] frankli-dev opened #1011 "How to log inside runtime chain extension impl?"
[code]

I try to log `hello ~~` but it doesn't show up in the console. What should I config to log inside chain extension runtime?

I also tried `RUST_LOG=debug RUST_BACKTRACE=1 ./target/release/polkadex-node --dev --tmp -lruntime=debug` but it doesn't work

[2021-11-10 04:25] frankli-dev commented on #1011
@cmichi Could you take a quick look here, please? Thanks

[2021-11-10 07:11] cmichi commented on #1011
@frankli-dev You can use e.g.
[code]
inside your runtime. If you then run the node via `substrate-contracts-node --tmp --dev` it will show up on the console.

I think in your code above the issue is that you use `-lruntime=debug`, but don't use `log::debug!(target: "runtime", …);`.

[2021-11-10 12:26] frankli-dev commented on #1011
@cmichi it doesn't still work for me.

[2021-11-10 13:07] cmichi commented on #1011
@frankli-dev Have you tried starting without the `-l`? Maybe try panic-king in your custom chain extension in the runtime, just to verify that the function is even hit?

[2021-11-10 13:18] frankli-dev commented on #1011
yes. I tried to panic in the entry and it panics there. So the function is called. you mean `runtime=debug`?

[2021-11-11 02:05] NukeManDan opened #1013 "Remove old github page site"
https://paritytech.github.io/ink/ is live, and I think it should be removed, just needs an admin to remove pages in settings for the repo. Might delete the gh-pages branch too :)

https://github.com/paritytech/ink/tree/gh-pages

Unless I am wrong, as CI is still pushing here :thinking: - but shoudn't everyone be directed to https://paritytech.github.io/ink-docs/ ?

[2021-11-11 07:42] cmichi commented on #1013
Hi there Dan,

the [Developer Documentation](https://github.com/paritytech/ink#developer-documentation) is published to the `gh-pages` branch, so all the Rust-generated documentation for the ink! crates (e.g. https://paritytech.github.io/ink/ink_env/).

We have the landing page https://paritytech.github.io/ink/ there to provide some guidance and link to the crate docs.

[2021-11-11 07:42] #1013 closed

[2021-11-11 16:57] ascjones commented on #990
As an experiment I crudely removed the topics codegen, which reduced `erc20` based on https://github.com/paritytech/ink/pull/946 from `12.0KB` to `9.9KB`. As a comparison with all calls to `emit_event` commented out, we are at `9.1KB`.

[2021-11-11 17:01] xgreenx commented on #990
Maybe we should take into account https://github.com/paritytech/ink/issues/809 during implementation of this issue=)

[2021-11-12 08:40] cmichi opened #1014 "Look into avoiding panicking for Wasm code size reduction"
We should see if there is some size reduction from the technique described [here](https://rustwasm.github.io/book/reference/code-size.html?highlight=panic#avoid-panicking).

[2021-11-13 10:39] xgreenx commented on #809
@Robbepop What do you think about the idea to change the way have we generated the metadata? I created [an example](https://github.com/xgreenx/ink-metadata) of how we can add events to the metadata if they were defined in a separate crate.

[2021-11-15 07:30] gilescope commented on #886
Have a look at substrate/.cargo/config.toml - since june this works. It's currently the only way to do it out of the box.

[2021-11-15 11:30] ascjones commented on #990
A promising [experiment](https://github.com/paritytech/ink/compare/aj-events-refs?expand=1): I managed to get `7.9K` (down from `11.0K`) from the latest `master` with making everything a reference:

[code]

[code]

[2021-11-15 11:37] Robbepop commented on #990
Did this just work out of the box or were codegen and ink! IR adjustments needed?

[2021-11-15 11:37] ascjones commented on #990
No needed to add a bunch of lifetimes everywhere, I'm sure they could be reduced but I wanted just to see where the gains were.

[2021-11-16 06:08] cmichi opened #1018 "Document custom LLVM optimization passes"
Please post the results of running the novel LLVM optimization passes on our example contracts in this issue. Also, please document the steps we need to take to reproduce these results here. This will be really helpful for us when deciding which optimization issues to tackle next.

The examples can be found in the `examples` folder of this repository. Note that the `examples/delegator` has multipl

[2021-11-17 13:48] athei opened #1021 "Upstream function merging into rust mainline"
Function merging is a potentially code size saving LLVM optimization pass. The inclusion of the optimization pass is done by some external researcher.

Things to do:
- Monitor [progress of the inclusion into LLVM mainline](https://reviews.llvm.org/D111912). If it gets stuck we should check whether there is anything how we can support the author.
- Once it is in LLVM mainline make sure that the opt

[2021-11-17 13:52] athei opened #1022 "Upstream function outlining into rust mainline"
Function outlining is a potentially code size saving LLVM optimization pass. It is already included as an optimization pass in LLVM but it is architecture specific. It is not implemented for the wasm backend we are interested in. Michael and James did work on the wasm implementation of this optimization.

Things to do:
- Finish up the wasm implementation.
- Upstream the optimization to LLVM.
- Onc

[2021-11-18 10:46] forgetso commented on #740
Hi @cmichi , I've found a reproducible example of `ContractTrapped` appearing when `payable` is not added as a decorator.

If you take this repos contract: https://github.com/prosopo-io/protocol/blob/master/contracts/lib.rs

And remove the `payable` function from this function:

[code]

You get `ContractTrapped`. Add it back in and it works fine.

Reproducing this requires a fair amount of cloning

[2021-11-18 10:54] xgreenx commented on #740
@forgetso This function requires the user to send the native token to it. If you send tokens to function without payable decorate, you will get contract trapped(or in case of debug mode you will see an error about the reason for the trap).

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/18346821/142402275-ee8f006a-6d48-4872-986c-412b7a5b63dd.png">

[2021-11-18 11:04] forgetso commented on #740
Ok, well that's good to know. I'm still building in `release` mode due to the contract size. I will change my node so that I can deploy the full size contract and get these more helpful messages!

[2021-11-18 11:09] xgreenx commented on #740
I suggest you comment empty functions and start to use `ink_storage::lazy::Mapping` instead of `InkHashMap`=)

[2021-11-18 11:11] forgetso commented on #740
I thought `Mapping` was still a work in progress. Nice to hear it's available. Thanks for all the tips!

[2021-11-18 15:28] ascjones commented on #990
This is unfortunately wrong. The correct number is `10.3K` down from `10.6` (current `master`). So in fact marginal gains for that approach so far.

There is however some potential for optimizing the footprint of topics codegen, which requires further investigation. For example, each new type of topic adds `~0.5K` to the code size - partly because of the extra `Encode` impl, but possibly because o

[2021-11-19 10:06] Robbepop commented on #945
Implemented in https://github.com/paritytech/ink/pull/946. Closed.

[2021-11-19 10:06] #945 closed

[2021-11-19 14:00] xgreenx commented on #809
To achieve user-friendly events they should be independent. At the moment the user can define events only in the body of the contract(under `#[ink(contract)]` macro). Those events are available only in the scope of that contract. So it is not possible to import them from another crate.

We have to reason for that limitation:
1) The identifier of the event is generated based on the name of the cont

[2021-11-19 15:52] athei commented on #364
# 😱

It appears that this is back. What a tragedy. My minimal reproducer does not trigger it anymore. This is why it passed our regression test in rustc I assume. In order to reproduce:

[code]

Please note that the error does not appear in `nightly-2021-11-17`. So  `nightly-2021-11-18` introduces this regression.

[2021-11-21 12:35] athei opened #1027 "Make constructors (non)payable"
When https://github.com/paritytech/substrate/pull/10082 is merged there is no longer a need to pass an endowment larger than `0` except when the contract logic itself requires it. This makes `endowment` no different from `value` in a call extrinsic.

Therefore I think we should extend the `payable` logic to constructors. The UI can then remove the endowment field for non payable constructors.

[2021-11-21 13:48] Robbepop commented on #1027
Can you elaborate on this a bit?
So will it be possible to have `value` _and_ `endownment` fields upon contract instantiation?
Currently in ink! all constructors are implicitly payable since unpayable constructors make no sense since the contract would be evicted immediately after.

[2021-11-21 15:21] athei commented on #1027
No, there is still only `endowment`.

And this is exactly the part that is about to change soon. Unpayable constructors make sense then.

[2021-11-22 10:04] HCastano commented on #1028
Hey @aaku1234, can you tell us a little bit more about the versions of the tools you're using? E.g, `rustc`, `cargo-contract`, `substrate-contracts-node`.

[2021-11-22 10:14] 17akash commented on #1028
Hello @HCastano,my rustc - rustc 1.36.0-nightly
cargo-contract - cargo-contract 0.15.0-unknown-x86_64-linux-gnu
 substrate-contracts-node - substrate-contracts-node 0.1.0-acbf103-x86_64-linux-gnu

[2021-11-22 10:15] 17akash commented on #1028
Hello @HCastano,my rustc - rustc 1.36.0-nightly
cargo-contract - cargo-contract 0.15.0-unknown-x86_64-linux-gnu
substrate-contracts-node - substrate-contracts-node 0.1.0-acbf103-x86_64-linux-gnu

[2021-11-22 12:23] HCastano commented on #1028
Your `rustc` version is quite old. For context, our CI is using `cargo 1.58.0-nightly (ad50d0d26 2021-11-17)`. You can update using `rustup update nightly`.

Your `smart-contracts-node` is also a bit outdated. The latest commit is [9dd43c31](https://github.com/paritytech/substrate-contracts-node/tree/9dd43c31da8f7ce4ed423b6cfa371b5ec624bf09). You can update with `cargo install contracts-node --git

[2021-11-23 07:23] 17akash commented on #1028
After updating rustc ,this is the version - rustc 1.56.0 (09c42c458 2021-10-18)
and my smart-contract-node version - substrate-contracts-node 0.1.0-9dd43c3-x86_64-linux-gnu
When I build the contract by command "cargo +nightly contract build" I got this error
I also tried adding overflow-checks = false` in `Cargo.toml` but getting the same error

ERROR: Validation of the Wasm failed.
ERROR: An unex

[2021-11-23 10:34] Robbepop commented on #1027
So should we non-confusingly rename this to "Allow ink! constructors to be non-payable" ?

[2021-11-23 17:25] HCastano commented on #1028
This is related to https://github.com/paritytech/ink/issues/364. We're working around it by disabling `overflow-checks` (see [this PR](https://github.com/paritytech/ink/pull/1034) for example). Can you do the same and see if you can successfully deploy your contract?

[2021-11-23 17:31] HCastano opened #1035 "Investigate Usage of `inline`"
This should be a more through version of https://github.com/paritytech/ink/pull/1019. We should dig into our usage of `inline` further since it seems like we can reduce our contract size by being more strategic with its usage.

[2021-11-23 17:39] athei commented on #364
Updated the reproducer and opened a new bug report: https://github.com/rust-lang/rust/issues/91158

[2021-11-23 19:10] athei commented on #1027
Sure, if that makes more sense to you. The issue is about allowing this `payable` attribute there which is now set by default.

[2021-11-24 13:54] #739 closed

[2021-11-24 14:25] #891 closed

[2021-11-24 14:55] #997 closed

[2021-11-24 15:04] athei commented on #364
Also filed an issue with cargo that could resolve our issue when implemented: https://github.com/rust-lang/cargo/issues/10118

[2021-11-24 16:50] forgetso opened #1042 "Allow enum to implement SpreadAllocate"
[Recently](https://github.com/paritytech/ink/pull/995#pullrequestreview-815140084), the contract implementation style has changed so that the contract `struct` derives `SpreadAllocate`.

This causes a compilation error in contracts that make use of `enum` with more than one variant. This is because it is [not possible](https://github.com/paritytech/ink/pull/995#discussion_r743897753) to determine

[2021-11-24 17:49] HCastano commented on #993
Closed by #995.

[2021-11-24 17:49] #993 closed

[2021-11-24 17:49] HCastano commented on #992
Close by #995.

[2021-11-24 17:49] #992 closed

[2021-11-24 17:50] HCastano commented on #991
Close by #995.

[2021-11-24 18:08] Robbepop commented on #991
Nope!
This has not yet been implemented becaues `rustc` lacks the features to do so.

[2021-11-25 07:55] cmichi opened #1044 "Reflect the `contracts` pallet's switch to charging a deposit for storage in ink!"
Once Alex' deposit PR (https://github.com/paritytech/substrate/pull/10082) is merged we need to adapt ink! to reflect these changes.

From the top of my head this includes remove the notion of a subsistence threshold and adding `storage_limit` as a parameter to the off-chain env. But whoever takes this ticket should look through the PR again to make sure we don't miss anything.

[2021-11-25 08:02] cmichi opened #1045 "Review our examples for usage of the return type `Result`"
This issue is blocked by https://github.com/polkadot-js/apps/issues/6465 ‒ the UI currently does not display that an error occurred when a call returns `Result::Err` and is reverted.

## ToDo

- [ ] Review the usage of `assert!` in our examples and  migrate those potentially to `Result::Err`.
- [ ] There are a number of examples which already use `Result` as a return type. We should check if the u

[2021-11-25 08:11] cmichi opened #1046 "Specialize codegen for case of exactly one ink! message/constructor + that one being marked as wildcard"
Follow-up to https://github.com/paritytech/ink/pull/1020.

There is a possibility to optimize our codegen here for this case:
* a contract containing exactly one ink! message (or constructor)
* that one ink! message (or constructor) being marked with the wildcard selector

In that case of our codegen currently still creates dispatch code for both the wildcard selector, as well as the auto-generate

[2021-11-25 08:22] cmichi opened #1047 "Make `fire()` return `!` in case of tail-call flag being set"
Follow-up to https://github.com/paritytech/ink/pull/1020#discussion_r755295355.

The [`proxy`](https://github.com/paritytech/ink/tree/master/examples/proxy) example builds a cross-contract call with `set_tail_call(true)`, in that case the `fire()` call will never return. We currently still require handling the `Result` which is returned by `fire()`, but this code is unreachable.

We should change

[2021-11-25 09:54] forgetso opened #1048 "Implement Debug for emitted events"
When developing unit tests it would be much easier to debug emitted events if they could be printed using debug print, e.g:

[code]
Currently this results in an error as `Debug` is not implemented:

[code]

[2021-11-25 11:16] cmichi opened #1050 "Migrate examples to `Mapping`"
We need to migrate our examples to the new `Mapping` data structure.

I'm mostly creating this issue to track the work we're doing on reducing contract sizes.

[2021-11-25 12:16] HCastano commented on #991
The description of #995 should be updated to reflect that then

[2021-11-26 03:53] #364 closed

[2021-11-26 05:16] cmichi commented on #941
@ascjones I think we can close this issue?

[2021-11-26 06:05] jacogr commented on #941
I believe so, we have the versioning enum implemented.

[2021-11-26 09:28] #879 closed

[2021-11-26 09:55] #941 closed

[2021-11-30 10:25] athei commented on #1027
Needs to be done before the stable release because it is a breaking change.

[2021-12-01 04:13] DashYang opened #1060 "what's the difference between trait_definition and trait"
see example below

[code]

[code]
I can't see the difference between `trait BaseErc20` and `#[ink::trait_definition]`, why ink！ need such annotation?

[2021-12-02 16:21] jamesblacklock commented on #1021
This page tracks the progress of Function Merging (aka HyFM) into mainline LLVM: [https://reviews.llvm.org/D111912](https://reviews.llvm.org/D111912)

[2021-12-02 16:28] jamesblacklock commented on #1022
This patch was tested on C code (by Michael; I did not test this) and presumably worked on C code. I integrated the patch into Rust and the compiler builds just fine, but I get crashes when trying to compile contracts. I have spent a couple weeks trying to diagnose this (and one other) optimization pass without success. I am putting this on hold for now to work on higher priorities (unless, of cou

[2021-12-02 16:36] jamesblacklock commented on #1018
My earlier estimate for compiling the erc20 contract was that the FunctionMerging (HyFM) pass would reduce code size by about 6%. However, when trying to replicate this data (and also incorporate function outlining, per https://github.com/paritytech/ink/issues/1022) I encountered numerous issues relating to rustc & LLVM changes that broke my branches.

I have spent too much time trying to get this

[2021-12-07 14:21] cmichi opened #1068 "Remove `libsecp256k1` dependency of `ink_eth_compatibility`"
We need the `libsecp256k1` dependency only in the `to_eth_address` function, for getting the uncompressed 65-byte public key from the ECDSA public key.

Ways to remove the dep would be to either add a new API function in the `contracts` pallet, find another no-std compatible crate, or extract the functionality from either `libsecp256k1` or `secp256k1` into `ink_eth_compatibility`.

[2021-12-10 06:10] cmichi commented on #940
@ascjones I just merged https://github.com/paritytech/ink/pull/923, `polkadot-js/api` has been updated in https://github.com/polkadot-js/api/pull/4289. So this issue is no longer blocked.

[2021-12-10 09:55] #1044 closed

[2021-12-10 17:59] xgreenx commented on #681
Hmm, seems it is implemented?

[2021-12-10 22:54] HCastano commented on #681
Yep, you're right.

Closed by #928.

[2021-12-10 22:54] #681 closed

[2021-12-10 23:19] HCastano commented on #1060
Hi @DashYang! Sorry for taking so long to get back to you.

The `#[ink::trait_definition]` is a [procedural macro](https://doc.rust-lang.org/reference/procedural-macros.html) which allows ink! contracts to define traits which are implementable by other ink! contracts.

In short, the macro does a couple of things to achieve this. First, at compile time it checks that your trait definition meets som

[2021-12-13 12:40] NukeManDan commented on #915
LOVE this! 🌠
Also... My favorite thing to learn solidity by exploring it's vulnerabilities
https://github.com/OpenZeppelin/ethernaut

This style of examples and game like learning is so cool.... Also a wealth of examples to continue the exploration of where ink can help you avoid the same mistakes I think 🙏😁

[2021-12-14 18:58] HCastano commented on #1060
@DashYang I'm gonna go ahead and close this issue. Feel free to ping us/re-open this if you feel like it hasn't been resolved.

[2021-12-14 18:58] #1060 closed

[2021-12-14 18:59] HCastano commented on #1028
@aaku1234 I'm gonna go ahead and close this issue. Feel free to ping us/re-open this if you feel like it hasn't been resolved.

[2021-12-14 18:59] #1028 closed

[2021-12-15 03:18] cmichi commented on #690
To persist what we decided on:

* It's confusing to users that we use different terms synonymously.
* We no longer want to use the terms deploy/initialize for instantiating a contract on-chain, instead we want to use one term consistently which is _instantiate_. The RPC is also named `instantiate_*`.
* There is one legacy mention of deploy, which is the `contracts` pallet API surface that requires

[2021-12-16 09:21] agryaznov opened #1084 "CR: DNS contract example: add `get_owner()` message"
As domain name is a tradable property, it probably worth making its current ownership verification possible through a message invocation.

This issue is a proposal to add a `get_owner()` message to the DNS contract example, just like it is done for address mapping getter with [`get_address()`](https://github.com/paritytech/ink/blob/ce37cadecc923bb13f86a3f2b1713f3378bccfa5/examples/dns/lib.rs#L155)

[2021-12-18 19:36] HCastano commented on #1050
Closed through:
- #1057
- #1058
- #1061
- #1078
- #1085
- #1086

[2021-12-18 19:36] #1050 closed

[2021-12-23 10:58] AdaLam7 opened #1088 "How to call ink! contract though js SDK or cli?"
I can't found any documents about it

[2021-12-23 12:08] AdaLam7 opened #1089 "How to transfer token from caller to contract?"
The contract-transfer example,` give me ` transfer token to the caller, but how to let the caller transfer token to the contract account?

like:
[code]

[2021-12-23 12:51] xgreenx commented on #1089
You can't force caller to transfer some native tokens to you in the contract scope. The caller should transfer them to the contract during the calling of the methods of that contract(outside of the contract).

But if you want to transfer `PSP22` tokens(`Erc20` analog), then you can call the [`transfer_from`](https://github.com/w3f/PSPs/blob/master/PSPs/psp-22.md#transfer_fromfrom-accountid-to-acco

[2021-12-24 05:07] AdaLam7 commented on #1089
So how can I use ink! to create a Refinancing contract?

1. Caller transfer native token to contract, but how? Same as transfer to a normal account?
2. How does the contract know who transfers token to the contract, how to save the caller account id?

It would be perfect if you can provide a refinancing contract example.

[2021-12-26 10:46] xgreenx commented on #1089
1. Yes, during the calling of the method of the contract you can pass the amount what you want to send.
<img width="891" alt="image" src="https://user-images.githubusercontent.com/18346821/147405763-0df970eb-5095-4352-96cd-2a4453ea3f18.png">

2. Example of simple Crowdfunding:
[code]

[2021-12-27 09:46] AdaLam7 commented on #1089
Awesome example~ Recommended to put it in the code example.

[2021-12-27 09:46] #1089 closed

[2021-12-28 02:42] AdaLam7 commented on #1089
@xgreenx  by the way  what is test UI in your comment?

[2021-12-28 09:29] xgreenx commented on #1089
It is [polkadot.js](https://polkadot.js.org/apps/).

[2022-01-03 20:26] HCastano commented on #1088
Hi there! For a CLI, this is still a WIP, see https://github.com/paritytech/cargo-contract/pull/79 for more details. As for the JS side @statictype or @achimcc can give you a better answer than I can

[2022-01-03 20:33] achimcc commented on #1088
Hello! Did you check the Polkadot JS API docs? Especially: https://polkadot.js.org/docs/api-contract/start/contract.tx

[2022-01-04 07:24] #1088 closed

[2022-01-07 03:45] paritytech-ci opened #1098 "[ci] Failing fuzz tests on master (07 Jan 2022)"
The CI job [1319619](https://gitlab.parity.io/parity/ink/-/jobs/1319619) just failed.

The offending commit is [Fix failing clippy runs on `master` (#1094)](https://github.com/paritytech/ink/commit/939d93405f7f86e716d8a24523e8897f020c64e3).

[2022-01-14 02:00] HCastano commented on #824
This has been fixed

[2022-01-14 02:00] #824 closed

[2022-01-17 15:06] cmichi commented on #1098
@HCastano Some info on how to reproduce the failing test:

The CI log linked above shows
[code]

To have the test be executed with those arguments you can change `crates/allocator/src/bump.rs` like this:
[code]

To run this test then:
[code]

You will then get the same test failure and can do the debugging.

[2022-01-18 03:39] #1027 closed

[2022-01-21 14:20] czyczk opened #1106 "Instantiation failed (`contracts.CodeRejected`) after using `serde_json`."
**Questions**

- Is this a bug concerning building of ink! smart contracts?
No. Testing and compilation are OK.

**Versions**

Rust Nightly:  `cargo 1.60.0-nightly (95bb3c92b 2022-01-18)`
cargo-contract: `cargo-contract 0.17.0-unknown-x86_64-linux-gnu`
substrate-contract-node: `substrate-contracts-node 0.5.0-0ec18d9-x86_64-linux-gnu`
ink!: `3.0.0-rc8`

**Describe the bug**
I previously have an ink

[2022-01-22 13:32] agryaznov opened #1108 "[rc8] examples/erc721 build upload/deployment fails with `ContractTrapped`"
This error appears during uploading the contract through PolkadotJS Apps, however, it does not seem to be UI related, as it is clear that _DispatchError_ is being returned from runtime:
[code]
(which is `ContractTrapped` from `pallet_contracts`)

**The bug**

[_examples/erc721_](https://github.com/paritytech/ink/tree/v3.0.0-rc8/examples/erc721) contract taken from [ink! v3.0.0-rc8](https://github.

[2022-01-23 10:18] xgreenx commented on #1108
After the https://github.com/paritytech/ink/pull/1065, the constructor should be payable to be able to get a deposit for a contract.
<img width="668" alt="image" src="https://user-images.githubusercontent.com/18346821/150673745-1abdc564-f810-4b9c-9790-9ede78cc37d1.png">

@cmichi @athei Hmm, seems that the transferred balance will be always not zero during the instantiation of the contract. When co

[2022-01-24 09:02] athei commented on #1108
With the new automatic storage deposits we don't use the the transferred value in order to have the minimum balance. What will happen is that the required deposit is automatically transferred to the contracts account and is reserved there.

This is what allows us to have non payable constructors: The minimum deposit is handled by the pallet and the transferred value is only needed (or allowed) to

[2022-01-24 12:49] yarikbratashchuk opened #1109 "`delegate_call` API"
Hello, ink! team. [PR](https://github.com/paritytech/substrate/pull/10617) for *delegate_call* hopefully, will be merged soon, and now it's time to think about how to add this to the ink! API.

To support *delegate_call* we need to make changes to `CallBuilder` (and respective codegen part) and implement `CallTypeBuilder` (for building `CallType` structure)
I can't find an easy way to do this, but

[2022-01-24 15:31] athei commented on #1106
Are you sure you want to parse json in a smart contract? That is a way too heavy weight operation to be ever economical. And if you had to do that you wanted to use some dependency that is smaller than the monster that serde is. Consider using parity-scale-codec for your encoding needs.

 Use  `-lerror,runtime::contracts=debug`  for debugging as explained in the `substrate-contracts-node` readme.

[2022-01-24 15:50] athei commented on #1108
Just tested with everything on master and apps v0.103.1. Deploy works for me. What did you enter as `value`?

[2022-01-24 17:04] cmichi commented on #1108
@agryaznov I also can't reproduce the error. I installed `substrate-contracts-node` with `--locked`.

[2022-01-24 17:13] agryaznov commented on #1108
The `value` was set to `1000` during deployment, which seems to be the reason of `ContractTrapped` as _ERC721_ constructor became non-payable by default (after storage deposits introduced with [#10082](https://github.com/paritytech/substrate/pull/10082) PR)...

With `value` = `0` the contract is being deployed successfully.

I think this will be an often mistake made by users who would likely spec

[2022-01-24 17:59] HCastano commented on #1108
This won't be a problem in the future with https://github.com/polkadot-js/apps/issues/6645. The UI won't show the `value` field if a constructor isn't marked explicitly as `payable`.

[2022-01-24 18:00] #1108 closed

[2022-01-24 19:27] xgreenx commented on #1108
When I'm submitting the transaction about deployment with `value` zero it throw an `contracts.NewContractNotFunded`.
If I set the value 1 dot, it fails with contract trapped because the constructor is not `payable`. How do I need to instantiate the contract and pass 1 dot as endowment?

[2022-01-24 19:48] athei commented on #1108
That can't be because this error doesn't exist anymore. So you are most likely testing against an older node than you think you are.

[2022-01-24 20:58] xgreenx commented on #1108
Yep, you are right, I had two nodes at the same time. With a new one everything works

[2022-01-25 00:30] HCastano opened #1110 "Double check usage of `Default` `AccountId`s"
Substrate had an issue recently related to having a [`Default` implementation for `AccountId`s](https://github.com/paritytech/substrate/pull/10403). We should double check our usage of `Default` and ensure that we don't have a similar issue.

[2022-01-25 09:28] czyczk opened #1112 "Got `contracts.StorageDepositLimitExhausted` when instantiating contract. `rc-7` was OK."
**Questions**

- Is this a bug concerning building of ink! smart contracts?
    No. Testing and compilation are OK.

**Version**
Rust Nightly: `cargo 1.60.0-nightly (95bb3c92b 2022-01-18)`
cargo-contract: `cargo-contract 0.17.0-unknown-x86_64-linux-gnu`
substrate-contract-node: `substrate-contracts-node 0.5.0-0ec18d9-x86_64-linux-gnu`
ink!: `3.0.0-rc8`

**Describe the bug**
I have a custom struct

[2022-01-25 09:29] czyczk commented on #1106
Thanks. The debug message is
[code]

I'm not using floating types anywhere in the contract (because the version without JSON got passed in `rc-7`, but not `rc-8`, which just led to another issue #1112 ). So is this something introduced by `serde_json`?

WASM:

[2022-01-25 11:45] VargSupercolony commented on #1112
@czyczk I have a similar issue on my end with `substrate-contracts-node`. I suspect it might be a Redspot problem in fact. As polkadot.js expects the storageDepositLimit to be passed to [instantiateWithCode](https://github.com/polkadot-js/api/blob/39ff95607630343ad957b133d53794f72bacf0f8/packages/api-contract/src/base/Code.ts#L65), Redspot just [passes](https://github.com/patractlabs/redspot/blob/

[2022-01-26 03:20] HCastano commented on #1112
@czyczk do you mind uploading a Gist to GitHub with your contract (Rust + TOML)?

[2022-01-26 05:22] czyczk commented on #1112
I see. The problem lies in the argument of type `BlueprintOptions` in which it now requires a non-null `storageDepositLimit` to work. However, in previous versions (ink rc7 + node 0.3.0 + JS API 6.12.x) I used to leave it undefined (or `null` by default).
I just tried to pass a `-1` (try to specify the max limit just like what I did for gas limit) but was rejected because the internal type for the

[2022-01-26 08:56] athei commented on #1106
Yeah I would assume that code is introduced by serde. As I said: Don't use serde in contracts. It doesn't make sense. It is way too big.

[2022-01-26 11:56] czyczk commented on #1106
OK, I'm now well aware of this constraint. Thank you!

[2022-01-26 11:56] #1106 closed

[2022-01-26 16:05] forgetso commented on #982
Hi, just chiming in to say this bug fix is necessary for us to use `rc8` `ink!` with OpenBrush so that we can more easily manage our rapidly growing contract. It's reached 2000 lines, including tests, and it would be nice to break it up into smaller chunks!

[2022-01-26 22:54] HCastano commented on #982
@forgetso Yep, gonna look into it this week. Can you post a link to your contract, I'm curious to see it

[2022-01-27 09:50] forgetso commented on #982
Great! Here is the contract - https://github.com/prosopo-io/protocol/blob/master/contracts/lib.rs. Critique welcome!

[2022-01-27 13:54] yarikbratashchuk commented on #1109
@athei, maybe you have any thoughts on this?

[2022-01-27 16:46] sulnong opened #1117 "Off-Chain Test (endowment) Does Not Work"
Environment:
cargo-contract : 0.17.0-unknown-x86_64-macos
ink version: 3.0.0-rc8

**Describe the bug**
Following is my contract code:
[code]

In off-chain test (run with command `cargo +nightly test`), i got self.env().transferred_value() correctly, but account (who call this execution) balance have no change.
That makes test failed.

Following is test code:
[code]

I wander if i coding incorrect

[2022-01-28 00:56] HCastano commented on #1117
@sulnong can you post the full error that you're getting?

[2022-01-28 10:28] sulnong commented on #1117
[code]

[code]

After call contract.deposit(), bob'account balance shoule be 100, we can see in the console `deposited: 100`
But assert_eq!(get_balance(bob), 100) failed.

[2022-01-28 14:02] athei commented on #1109
You don't need this sub `CallType` builder. You can use the existing type state infrastructure to change the functions available on the main builder when the call type is changed to `delegate`.

[2022-01-28 15:14] yarikbratashchuk commented on #1109
@athei, so you want the *CallType* to hold just the type of the call, not the data related (such as gas_limit, value), right?

[2022-01-28 15:53] athei commented on #1109
Inside the `CallBuilder` struct this you still be the case. For the API I would keep it flat.

[2022-01-28 17:12] yarikbratashchuk commented on #1109
Ah, yeah. I got your point. Maybe that's a good idea.

[2022-02-01 02:31] HCastano commented on #1117
Tbh this looks fine to me. Even looking at the `contract-transfer` example it doesn't seem like the `contract_id` and `eve`'s balances get updated correctly, so maybe there are some quirks around transfers in the test environment.

@cmichi can you take a look since you know about this better than me?

[2022-02-02 00:31] HCastano opened #1119 "Remove `collections` and `lazy` module code"
In #1111 we hid the `collections` and `lazy` modules (for reasons explained in that PR).
Eventually we'll want to actually remove the code, but until we're ready to pull the
trigger we've decided to open this issue as a reminder instead.

[2022-02-02 00:37] HCastano opened #1120 "Remove dynamic storage allocator"
In #1111 we soft removed storage structures which require dynamic storage allocations.
As such we should be able to remove the dynamic storage allocator and all the
infrastructure around it (for example, the `dynamic_storage_allocator` argument to
#[ink(contract)]).

[2022-02-02 07:02] justinFrevert opened #1121 "Review user-facing ink! chain extensions example"
This [repo](https://github.com/justinFrevert/Runtime-Contract-Interactions) contains non-production-ready user-facing examples of ink! chain extensions, and calls to contracts from the runtime. The original goal of this repo was to provide examples of communication both ways between runtime and ink! contracts in order to be the basis of some user-facing materials or documentation.

The ask here is

[2022-02-03 23:58] HCastano commented on #900
Closed via #923

[2022-02-03 23:58] #900 closed

[2022-02-04 00:02] HCastano commented on #1084
Closed via #1118

[2022-02-04 00:02] #1084 closed

[2022-02-04 05:53] #1098 closed

[2022-02-04 05:55] cmichi commented on #414
I'm closing this issue as we've deprecated the `BTreeMap` in https://github.com/paritytech/ink/pull/1111 for now.

[2022-02-04 05:55] #414 closed

[2022-02-04 05:56] cmichi commented on #412
I'm closing this issue as we've deprecated the `HashMap` in https://github.com/paritytech/ink/pull/1111 for now.

[2022-02-04 05:56] #412 closed

[2022-02-07 01:40] HCastano commented on #996
Soft-removed in #1111.

[2022-02-07 01:40] #996 closed

[2022-02-08 13:53] VargSupercolony commented on #1109
@athei so, as the [delegate call](https://github.com/paritytech/substrate/pull/10617) PR is merged, I think it's a good idea to get back to this issue.

If you want to keep the API flat, we'd probably have to go with creating a new builder (e.g., `DelegateCallBuilder`), designated to build delegate calls. This would allow for full compatibility with previous ink! versions, but it'll be a bit harde

[2022-02-08 14:17] xgreenx commented on #1109
I want to highlight another important point:

With the `CallType` approach we easy can convert between common and delegated calls. The code generation for `CallBuilder` still can generate the implementation for cross-contract calls(common call like before). But if the user wants to do a delegated call instead, he can easily change the type of the call.

[code]

[2022-02-08 14:31] athei commented on #1109
What is wrong about my suggestion? Keeping the `CallBuilder` but switch the available functions after calling `.delegate_call()` on it using type state. That would be the natural extension to the existing API.

This would also allow conversion between the two modes.

[2022-02-08 15:23] athei commented on #1109
This is fair. It might be confusing.

The source type would be irrelevant. So it would be one function with the name of the mode you are switching to.

Your example would look like this:
[code]

Please note that in both cases you will delete the supplied `some_account` which is not used at all.

[2022-02-08 15:47] VargSupercolony commented on #1109
Right now for `delegate_call` we only need the `CodeHash` generic param, but it means we should create new `fire()` and `params()` implementations of the `CallBuilder`, add the `CodeHash` param to *all* the existing implementations. On the other hand, the `CallType` approach abstracts away the data, related purely to some `CallType`s, and we:

1) Lessen the number of generic params in the `CallBui

[2022-02-08 18:52] cmichi commented on #1112
@czyczk @VargSupercolony We've figured it out now. It was due to a mispricing of deposits in the latest `substrate-contracts-node` release

We've fixed it now and done a new release. You can find the binary releases [here](https://github.com/paritytech/substrate-contracts-node/releases/tag/v0.6.0) or install via:
[code]

[2022-02-08 18:52] #1112 closed

[2022-02-08 20:15] drewstone opened #1125 "Add documentation for testing cross-contract calls"
I'm trying to test a cross-contract system implementation. A few things are unclear:
- How should the contracts be created in tests if `ContractRef`'s are created in constructors.
- How to get the contract code hash from `Contract::new()` result.
- Whether these contracts need initial balance and how to send balance on `Contract::new()`

Any help here is appreciated. Even links to the internals to

[2022-02-09 04:46] #698 closed

[2022-02-09 09:18] athei commented on #1109
Okay I get that we don't want to litter the `CallBuilder` with more type parameters than necessary. But the `CallType` has this generic parameter then and needs to be stored within the `CallBuilder`. So we still need that parameter there?

[2022-02-09 09:21] VargSupercolony commented on #1109
I'm working on a PoC right now to show you, but the basic idea is following:

[code]

We expose the CallType to the user, so we'll call `build_call` like `build_call::<DefaultEnvironment, DelegateCall<DefaultEnvironment>>()` or `build_call::<DefaultEnvironment, Call<AccountId, u64, Balance>>()`

[2022-02-09 09:29] athei commented on #1109
How will that work with codegen? I think all your examples started from the wrong premise that it is created from a `ContractRef`. What you want is to be able to have `delegate_call()` on a `CodeHash` and not on a `ContractRef`.

[2022-02-09 09:34] VargSupercolony commented on #1109
Ahhhh ok I see what you mean. Then it's simple too: we will provide `build_call` for `ContractRef`s and `build_delegate_call` for `CodeHash` :) In the first case, it gets parametrized by `Call`, in the second - `DelegateCall`.

[2022-02-09 09:39] xgreenx commented on #1109
By default, the codegen will generate the implementation for `ContractRef` like before - it is a common cross-contract call. But if the user wants, he can easily change the type of the `CallType`.

Also in the future, we also can generate  `ContractDelegatedRef` that contains `CodeHash` inside.

[2022-02-09 09:52] athei commented on #1109
Imho we should do what @VargSupercolony says. Creating a delegate call from a `ContractRef` switching it makes no sense. You should create it from a `CodeHash`.

[2022-02-09 10:09] xgreenx commented on #1109
I meant that the approach with `CallType` allows easy convert one call into another. I agree with "Creating a delegate call from a `ContractRef` makes no sense"=)

`ContractRef` is auto-generated and it contains `AccountId` inside. I meant that we also can generate `ContractDelegatedRef` that contains `CodeHash` inside. `ContractDelegatedRef` will contain auto-generated code that will do delegated

[2022-02-09 10:17] athei commented on #1109
We don't want to convert.

[2022-02-09 10:38] xgreenx commented on #1109
Maybe we don't want to convert, but we can provide a flexible API. If the developer is simpler to convert instead of using `ContractRef` and `ContractDelegatedRef`, he can easily do that=)

So, what do you think about the idea of the usage of one generic type `CallType`(described [here](https://github.com/paritytech/ink/issues/1109#issuecomment-1033536181)) is better than extending the number of g

[2022-02-09 10:48] athei commented on #1109
I think this approach is fine.

I think we should allow a call to `call_type` exactly once for a builder. Once you set it you can't switch to another `call_type`.

[2022-02-09 15:50] HCastano commented on #698
@cmichi why'd you close this. We're close to actually having the primitives (`delegate_call` and `set_code`) to do this

[2022-02-09 17:55] justinFrevert opened #1128 "Doc bug: Data Structures Overview page links 404"
**Describe the bug**
Browsing the links at the [Data Structures Overview](https://paritytech.github.io/ink-docs/datastructures/overview) page results in 404s for links. The data structures links(`Vec`, `BinaryHeap`, `HashMap`, etc...) in particular are 404'd.
Example: https://paritytech.github.io/ink/ink_storage/collections/struct.HashMap.html.

It seems everything in `/ink/ink_storage/collections

[2022-02-09 22:20] HCastano commented on #1128
Yep, this is because of https://github.com/paritytech/ink/pull/1111.

I'll take this on.

[2022-02-10 02:57] HCastano commented on #1125
I don't think this is possible at the moment. See https://github.com/paritytech/ink/issues/788 for some more info.

Someone in the comments mentions [Redspot](https://github.com/patractlabs/redspot). You'll have to write the tests in JS  and they will be more integration type tests than unit tests, so keep that in mind.

[2022-02-10 15:27] VargSupercolony commented on #1109
@athei I will make a PR really soon; what should I check before submitting the PR? Does the `check-workspace.sh` script have to pass, or just tests?

[2022-02-15 05:31] w- commented on #1119
might be good to remove `lazy storage values` from the tutorial as well
https://docs.substrate.io/tutorials/v3/ink-workshop/pt2/

[2022-02-15 13:36] VargSupercolony commented on #1109
#1133

[2022-02-16 09:41] athei opened #1134 "Macro based storage rework"
Most of the existing storage types [were removed](https://github.com/paritytech/ink/pull/1111) because they are simply to inefficient in size and executed instructions. Right now we only have `Mapping`. However, this type doesn't work very well with the existing storage infrastructure and needs a band aid named `SpreadAllocate` and `initialize_contract`.

We want to pivot more in the direction of

[2022-02-16 21:59] xgreenx commented on #1134
I played with that idea, tested different implementations and cases, checked the sizes.

---

First of all to reduce the size, better to avoid frequent usage of `ink_env::set_contract_storage` and `ink_env::get_contract_storage`.

Instead of:
[code]
Better to:
[code]
Or
[code]

---

The second point - introduction of accessors like:
[code]
Will be very unclear for the user + we will have the probl

[2022-02-17 16:26] athei commented on #1134
Is that somewhere reflected in the code you posted? I think it contradicts the rest you are saying: We are selecting different cells with manual or automatic keys.

In your examples I don't see the overarching main contract structure that ties all of that together.

[2022-02-17 22:28] xgreenx commented on #1134
I didn't implement `ContractRootKey::ROOT_KEY` logic in the example because it is part of `#[ink::contract]` macro. All fields implement `Decode + Encode`. To load a contract we will use `ink_env::get_contract_storage(&ContractRootKey::ROOT_KEY)`, to flush - `ink_env::set_contract_storage(&ContractRootKey::ROOT_KEY, &contract.encode())`.

The idea is that the developer for some type will create an

[2022-02-18 01:21] xgreenx commented on #1134
No matter, we can't use that `KEY` to do calculations like `{ KEY + 2 }` during the declaration. It is possible with an unstable feature `#![feature(generic_const_exprs)]`, but we want to be stable=)

I will prepare the simple version only with a manual key and with generated.

I think we don't need to limit the developer. We only need to throw an error if he is using the same storage keys in seve

[2022-02-18 12:39] athei commented on #1134
If we can catch this during compilation then it is fine. Would be better to catch it during the compilation of the wasm, though.

This is not completely unlike how it is currently working. We also store the whole contract structure under a single root key and the storage types like `HashMap` simply implement an empty `Encode + Decode`. Just to reiterate: What we want to achieve with this rewrite i

[2022-02-19 21:45] HCastano commented on #1128
Closed via https://github.com/paritytech/ink-docs/pull/44

[2022-02-19 21:45] #1128 closed

[2022-02-20 22:14] xgreenx commented on #1134
I mentioned that issue: https://github.com/rust-lang/rust/issues/26925

But seems we can handle it. The derive macro can be expanded before the `#[ink(storage)]` macro, so we can add the generic for numeration later and it will not have conflicts with`#[derive(...)]`. It works because of that change: https://github.com/rust-lang/rust/pull/79078
Our macro can check: Does exist at least one derive m

[2022-02-21 10:31] cmichi commented on #982
Closed with https://github.com/paritytech/ink/pull/1141.

[2022-02-21 10:31] #982 closed

[2022-02-21 13:41] athei commented on #1134
You are meaning the one on your `Test` and `Flipper` structs? Bounds are merely a heuristic and often wrong. It can detect `PhantomData` but in your case the `PhantomData` is burried deep in other types so the macro cannot see it.  This is why we have attributes in `parity-scale-codec` for its macros to overwrite bounds. In substrate we also have a `DefaultNoBounds` macro for convenience.  That sa

[2022-02-21 14:17] xgreenx commented on #1134
I tested it with current ink's codegen, so it was simpler to transmute `(u128, u128)` into `[u8; 32]`. But yes, we can use `u32` or `u64` in the final solution. I think `u32` should be enough to not have collisions.

It is caused by the `Debug` trait for logging=) It was a late night and I tried to finish the example faster. It is only for the `println` in the example.

Yep, you are right, I forgo

[2022-02-21 15:27] athei commented on #1134
Yes. This will kill two birds with one stone.

If it makes things easier we should drop the manual key for now. Right now the keys are also derived from order. We can add this later. Maybe even as a post processing step on metadata to not further complicate the code.

Yeah this is kind of a bummer. Didn't understand the code well enough to help with that right now. But I am sure that using transmu

[2022-02-22 10:00] godhar commented on #994
@Robbepop is this still something needing done? I think I could have a shot at it, seems straightforward enough.

[2022-02-23 11:39] #804 closed

[2022-02-25 10:22] cmichi commented on #1134
@xgreenx We think the best way forward would be to iterate on your example and get rid of the unsafe transmute. For the host functions you could mock them for now, so to not be blocked on that. What are your thoughts?

[2022-02-25 12:04] xgreenx commented on #1134
We need to decide on several questions and I think we can move forward.

---

1. Do we want to hide the generic type of the `NextStorageKey` on the storage structure or not?

1.1. We can add a generic type during the codegen as described above. By default, it will be `()`. But if it is not an atomic struct, it will use the generic to have a correct storage key and the user should understand that h

[2022-02-25 14:00] athei commented on #1134
**1.1 vs 1.2**: Given that these are the only two options I  am leaning to the explicit solution. That said, I didn't put nearly as much thought into it as you did. So what is your recommendation and is there really no better way (I can't tell)?

I would suggest keeping `#[ink::storage(<ROOT_KEY>)]` for the main storage and using `#[ink::storage_ext]` for additional storage items. `<ROOT_KEY>` is

[2022-02-25 14:58] xgreenx commented on #1134
I also prefer the explicit solution. Because the developer can google **Rust** information and find what is going on.

We want to know the key during the compilation time of each `Storage` or `Mapping` field -> Each `Storage` or `Mapping` field should have its own storage key.

Here we have two options:

1. The key is calculated relatively to previous keys to create a unique key each time and avoi

[2022-02-25 15:09] athei commented on #1134
Can you please remind me what you mean when you say "atomic struct"?

I think we should go with the first solution (numbers and explicit generics). The second one has the collision problem and also will lead to much bigger keys compiled into the data section of the contract as opposed to simple numbers.

I think before you start implementing it would be best if you'd post a complete example here o

[2022-02-25 15:37] xgreenx commented on #1134
"atomic struct" - all fields are atomic. All types are atomic except `Storage` and `Mapping`.

We still can use `u32` or `u64`, the chance to generate the same key is not so high=)

[code]

[2022-02-25 19:07] athei commented on #1134
I don't get it. How would we do that if we are generating the key from a name? Hash the name at compile time and truncate to 8 byte? We would still have the problem of collisions if a struct was used multiple times.

I think with a numeric solution we could even get away with `u8`. We would make the `Key` generic and just use `u8` by default. If we overflow we throw a compile time error and ask th

[2022-02-25 19:40] xgreenx commented on #1134
Yes, we can do the same as for selectors, we will truncate it to `u32` or `u64`.

In WASM it still is `u32`, I think it is better to keep `u32`.

Okay=) It looks normal to me. I only worry that someone from Solidity can be afraid of it=)

Because actually, we will pass the last data type(that type took the previous cell)  that will be used to get the next storage key. We can use `Parent` but it is

[2022-02-25 22:00] athei commented on #1134
I think those constants will go into the wasm data section and can be packed densely there. Of course they will be loaded into an `i32` when they are used but we still save the space in the data section. We would need to verify that, though.

Some renaming suggestions:
* I would rename our concrete `Storage` type  to `StoredValue`.
* Our `Storage` trait deals mainly with storage keys if I understa

[2022-02-25 22:46] xgreenx commented on #1134
I also prefer the version with truncated hash, because It will be simpler for me as for a smart contract developer. I don't like to put generics everywhere in cases where I plan to use only atomic structures(or not atomic struct but one time).

Yea, the overhead seems not too high + it requires investigation regarding 1byte=)

If someone wants to use some struct twice or more, he can specify the g

[2022-02-25 23:19] athei commented on #1134
Having to manually key every field in `TestTwice` seems a bit extreme just so we can use it twice. Couldn't the supplied `const Key` be picked up by the automatic key generation? The macro should be able to detect that there is a `const Key` specified and use it.

[2022-02-25 23:24] xgreenx commented on #1134
We can add `XOR` part to `AutoKey`:
[code]

[2022-02-25 23:39] xgreenx commented on #1134
We can try to automate that process. For that, we need some marker to understand that it is generic for the storage key. Maybe we can define an alias in `ink_storage` crate like `pub type StorageKey = u64` and check that type in const generic is `StorageKey`.

[2022-02-26 00:08] athei commented on #1134
Yes this is what I had in mind. Sure we can't detect the re-alias but I don't think this is a case we need to consider.

This is all looks pretty solid for me. The latest example looks like something I can very much live with. We should have some members of the team look over it so we are all on the same page.

[2022-02-26 21:05] #787 closed

[2022-02-27 20:39] drewstone opened #1149 "ContractRef objects don't implement `SpreadAllocate` trait."
# Overview
I'm trying to initialize a contract that holds both `Mapping`s and `ContractRef`s to other contracts. It does not seem that contract references by default implement the necessary trait and as such I cannot compile these contracts. Is there a recommended method for init'ing contracts with these items side by side?

[2022-02-28 07:00] puffanddmx opened #1150 "(Question)ink storage"
Hi

I have a question about storing the 2 english words in ink storage and reading them.
Using prelude, we can store strings for 2 words.
Are there any better way that i can construct this one in more effective way for the system?  Ex) 2 words string to hash , etc
Can you give me example code?

[2022-03-01 01:40] HCastano commented on #1149
I saw that you and @xgreenx had some discussions about this on Element. Do you mind re-posting any important bits from there here?

Can you also post a link to the contracts so that we can reproduce this.

[2022-03-01 01:42] HCastano commented on #1134
This discussion is pretty dense, but I'll try and take a look later this week

[2022-03-01 07:11] xgreenx commented on #1149
The problem is that `ContractRef` and `CallBuilder` generated by [codegen doesn't implement `SpreadAllocate`](https://github.com/paritytech/ink/blob/master/crates/lang/codegen/src/generator/as_dependency/contract_ref.rs#L93).

As a workaround, the user can implement `SpreadAllocate` manually current contract or the user can use `AccountId` instead of `ContractRef`(under the hood it is account id).

[2022-03-01 10:08] cmichi opened #1153 "Possible bug when using a `ReturnType` with `ink_env::invoke_contract`"
I have two functions which I would consider equivalent. One of them builds, the other one doesn't:
[code]

[code]

The error:
[code]

I think the second function should build as well.

[2022-03-01 10:27] xgreenx commented on #1153
I thought that return type should be `()` because it is the main idea of the method that we don't want to fetch a result.
<img width="685" alt="image" src="https://user-images.githubusercontent.com/18346821/156152101-fde8965b-64fe-4ef5-b1c0-da10284ae82c.png">

[2022-03-01 10:52] cmichi commented on #1153
:bulb: Thanks!

[2022-03-01 10:52] #1153 closed

[2022-03-02 08:12] cmichi commented on #1068
@athei @agryaznov

There is not yet an issue for this in `pallet-contracts`, but I think we should implement it there. This would enable us to get rid of the `libsecp256k1` dependency in ink!, thus making contracts using the `ink_eth_compatibility` smaller.

I can imagine having e.g. sth like a `seal_to_eth_address(ecdsa_compressed_public_key: [u8; 32])`.

That's the code which would need to be mo

[2022-03-02 18:22] HCastano commented on #1119
@w- yep, did that in https://github.com/substrate-developer-hub/substrate-docs/pull/853

[2022-03-03 10:39] forgetso opened #1164 "Implement `block_timestamp` for unit test engine"
Our team is looking to use `block_timestamp` in our contract. Currently, if we use `self.env().block_timestamp();` in a function that is called by the unit test engine, it causes this error:
[code]
This means that we can't use `block_timestamp` without breaking most of our unit tests.

Are there any plans to implement this feature soon?

If we were to tackle it ourselves, is there any design guida

[2022-03-04 13:02] ascjones commented on #814
Rather `invoke_contract` is just a special case of `eval_contract` with a concrete `()` as the return type. `invoke_contract<T, Args>` == `eval_contract<T, Args, ()>`.

I agree it doesn't make a lot of sense to have separate fns which eventually both call `invoke_contract_impl` under the covers anyway which always attempts to decode the return value. Passing `()` as a type parameter to `eval_contr

[2022-03-04 15:48] cmichi commented on #1134
@xgreenx Regarding `#[ink(storage)]` and `#[ink::storage_ext]`: In an ideal world we would need only `#[ink(storage)]` and detect if the `struct` is meant to be the top-level storage item or a nested one. Do you think we could simplify to have only one `storage` attribute?

[2022-03-04 16:03] cmichi commented on #1164
@forgetso The function has been implemented in the current `master`, we will issue the next release early next week, so you can use it then.

Note though that we've removed the old testing engine and replaced it with a new one, so you'll have to make some changes to your tests to account for the new testing engine (it was previously hidden by a feature flag `ink-experimental-engine`). We will have

[2022-03-04 16:03] #1164 closed

[2022-03-04 16:16] forgetso commented on #1164
Great news, thanks for the update @cmichi !

[2022-03-04 16:34] xgreenx commented on #1134
I don't think that it is possible. I think it is better to add some kind of marker for root contract like `#[ink(storage, root_key = 0))]`. We can ask the developer always to specify the `root_key` for root storage=)

[2022-03-06 13:21] athei commented on #1134
I only see two ways:
[code]

How else would you detect the root struct? You could always just define the "first struct"  as the root struct but I don't think this would be a better solution.

[2022-03-07 13:33] xgreenx commented on #1134
We included that issue in our roadmap, so we are waiting for approval from ink! team to start work on it=)

[2022-03-07 19:30] #814 closed

[2022-03-08 04:36] #1109 closed

[2022-03-08 15:03] #1150 closed

[2022-03-09 04:30] HCastano commented on #1134
Okay, so I finally got around to taking a read today. I can't say I follow everything, but I have some initial thoughts and questions:

- What is this `AtomicResolverHelper`?
- What is this supposed to indicate: `const IS_VALUE_ATOMIC: bool;`
    - So atomic ~= primitive types?
    - How's this different from a `StorageValue<$primitive_type>`?
- Maybe generic in `Test<Parent>` should be `Key` or `

[2022-03-09 06:50] xgreenx commented on #1134
I want to highlight that at the moment we have [two solutions here](https://github.com/paritytech/ink/issues/1134#issuecomment-1050926929).

The first one with auto-incrementing storage key during compilation. The main problem of that solution is the usage of generics everywhere. It can be overcomplicated for developers(and of course for newcomers from Solidity).

The second is to generate the sto

[2022-03-09 13:58] athei commented on #1134
Most of the questions by @HCastano focus on the first solution (incrementing keys) and I think we pretty much settled on the second one (hash and truncate). Let me write a summary of that solution here and we can discuss this instead:

* Each **field** used in a struct that can be put in storage gets a `u32`  base key assigned at compilation time.
* Using `u32` will only add 4 bytes to the data se

[2022-03-09 17:32] athei commented on #1134
Why can't you know the value of the attribute during codegen? How is this different from knowing the struct name?

I think we can agree that we want a wasm primitive type for the key. This only leaves `u64` which makes it **much** less likely to have a collision.  However, we are still in the region where this will happen with billions of contracts deployed (I know I know). So it would still be be

[2022-03-09 17:36] xgreenx commented on #1134
We can know the value of the attribute, but it will be the same value for all structs like that=D It is why we want to use a generic to have a "new" type of struct, specified by generic value.

[2022-03-09 17:41] athei commented on #1134
Ha ha yes I am just dumb. That's all. I will update the summary.

[2022-03-10 15:06] sulnong opened #1175 "How can i get a Mapping value inside Mapping"
Following is my code, i use `Mapping<AccountId, Mapping::<AccountId, Balance>>` to store data
[code]

This caused an compile error as following:
[code]

i wander how can i get `Mapping<AccountId, Balance>` from `Mapping<AccountId, Mapping::<AccountId, Balance>>`

Look forward to your favourable reply ：）

[2022-03-10 15:07] xgreenx commented on #1175
You can't use double mapping=) You can use tuple `Mapping<(AccountId, AccountId), Balance>`.

[2022-03-10 15:11] sulnong commented on #1175
@xgreenx  Thank you very much!

This solved my problem.

[2022-03-10 15:56] #1175 closed

[2022-03-10 17:59] HCastano commented on #1134
Thanks for that summary Alex, super helpful!

Some more thoughts/questions
- Do we need to enforce that `storage_item`'s be part of the main root struct, or can the
  be standalone?
    - E.g, can I have an empty root storage struct and work solely with `storage_item`s?
    - From the code samples it looks like no, we'll always need `storage_items` to be part root
    - I guess we'll still need th

[2022-03-11 15:28] achimcc opened #1178 "mulitsig example contract: can not call `add_owner`, `remove_owner`, `replace_owner`"
Whenever I try to invoke any of the functions `add_owner`, `remove_owner`, `replace_owner` of the `multisig` ink! contract from the examples folder, I receive the following error:

I did test it with apps, contracts ui and cargo-contract with:

cargo-contract 0.17.0-c6f9de0-x86_64-linux-gnu
ink! 3.0.0-rc9
substrate-contracts-node 0.8.0-382b446-x86_64-linux-gnu

Also not successfull with canvas on

[2022-03-13 07:57] xgreenx commented on #1134
`storage_item` can be standalone struct or can be part of the root. It is used to generate keys and implementation of some stuff required for correct work.

If the user uses the struct twice or more, only in that case the parent key should be specified for `storage_item`'s struct to prevent collision.

The user will be able to do that, but it is useless in that way. But it can be useful if `Storag

[2022-03-13 10:49] athei commented on #1134
Enforcing it to be part of the root struct would be difficult I think. Only thing that comes to mind is that `storage_items` might have a private constructor and can only be initialized through `RootStruct::new`. Next best thing would be a dylint.

AFAIK yes. This could work. Not sure how nice the code would be, though. Since the root struct will be reachable through `self` it would be much nicer

[2022-03-14 00:30] HCastano commented on #1134
Sure, that sounds alright with me

[2022-03-14 09:16] athei commented on #1002
Are you suggesting that ink! encoded an error in it's output buffer and sets the `REVERT` flag instead of panicing?

[2022-03-14 09:26] xgreenx commented on #1002
It is a good question how better to implement that.
The idea was that we will return an error that described that the handler for the method does not exist. So the idea with the `REVERT` flag is bad because it is `CalleeReverted` for the caller and the output is not expected(is not the same as in ABI, it is `NotCallable`).

I think maybe we can add an additional flag to `return_value` like `set_no

[2022-03-14 09:41] athei commented on #1002
Wrong. It is precisely the reason for the existence of `REVERT` to pass output in the face of a revert. This is **exactly** why it exists. Otherwise we could just trap.

There already exists a mechanic to pass along output. It is called `REVERT`. This could can easily solved in user space. Just make the encoding of the output buffer part of the standard.

[2022-03-14 10:03] xgreenx commented on #1002
I understand. The problem that means that we will have 3 levels of error:
- Error on Smart contract logic level
- Error on ink! logic level
- Error on `contract-pallet` level

And the output in that case should be `contract_pallet::Result<ink::Result<contract::Result<>>>`.

Right now it is `contract_pallet::Result<contract::Result<>>` and I prefer to not change it because it will add additional lo

[2022-03-14 10:16] athei commented on #1002
I see your problem. However, adding more and more policy into the privileged code is a slippery slope when this is basically an ABI problem. Nesting `Result` is only one way to go about this problem. For example, the ABI could very well be changed that the output buffer is not the raw encoded bytes of the contract but some other data structure where ink! could also emit some information.

[2022-03-14 10:42] athei commented on #1002
We already have `CalleeTrapped` and `CalleeReverted` which make sense because they carry a clear enforceable semantic. `NotCallable` would be essentially just a return code emitted by the callee to the caller. It is just a sidechannel to the already existing output buffer.

The reason why you are asking for this is because the ABI is lacking some semantic: Having some general errors defined in the

[2022-03-15 09:56] athei commented on #1068
I think there should be some host function available for the runtime to offload that to. Search for that here: https://github.com/paritytech/substrate/blob/master/primitives/io/src/lib.rs

[2022-03-15 11:11] athei opened #1181 "Create the mother of all contracts"
It would be massively helpful for Ul development to create an example contract that uses as much functionality as possible. I mean that from an input/output standpoint:

* Use a lot of different complicated nested input and ouput types
* Use debug printing
* Use revert
* Use trap

This list is not exhaustive. The contract doesn't need to make sense. Just something that exercises the limits of the

[2022-03-15 11:53] cmichi commented on #1134
Will also be interesting to see how the contract metadata will then change. Chances are that with this redesign we could close https://github.com/paritytech/ink/issues/767, which then would enable implementing https://github.com/paritytech/cargo-contract/issues/101.

@xgreenx Yeah so from our side you're good to go whenever you're up for it :-).

[2022-03-15 12:14] athei commented on #1002
The contracts pallet does not and will never deal with "languages". It just sees a wasm blob. Making a distinction between "contract errors" and "language errors"  is a completely made up concept by ink!. It is within in the languages/ABIs responsibility  to do things differently if that is needed. And this is exactly where it would be accomplished. All the mechanics are there.

We change the ABI

[2022-03-15 13:30] cmichi opened #1183 "Investigate why dependabot didn't issue a PR for `scale` 3.1"
Why did dependabot not create a PR for the scale upgrade to https://github.com/paritytech/ink/pull/1180 ? Maybe because we use `version = "3"`?

We should investigate and either change the version to include the minor number (`version = "3.1"`) or configure dependabot differently.

[2022-03-15 17:38] xgreenx commented on #1002
Is the same as `Result<Result<...>>` in terms of the return type. It changes the return type of each message in contracts. It changes the current flow and that means that we need to update standards like `PSP22`, `PSP34`...

It is breaking change and the main problem is that it affects standards on ABI level=(
Maybe it is okay to modify accepted standards now because ink! and `contract-pallet` are

[2022-03-15 19:15] cmichi opened #1185 "Implement `seal_set_code_hash` and add example contract"
I've marked this issues as a good first one since the task is something that can be done mostly analog to already existing code.

ink! interfaces with Substrate's [`contracts` pallet](https://github.com/paritytech/substrate/tree/master/frame/contracts) via an API. The API functions are named with the prefix `seal_` ‒ so e.g. `seal_call`. From time to time new API functions are added. One recently

[2022-03-16 09:18] athei commented on #1002
Yes. It doesn't avoid breaking the ABI but it is less annoying in that it doesn't require a double `unwrap` which would be very confusing.

I think we can agree that this would be the right thing to do even though it is messy. The mechanism you ask for to be added to pallet-contracts would only serve the purpose of avoiding this breaking change by adding a work around on top. We will add something

[2022-03-16 17:34] agryaznov commented on #1068
Haven't found appropriate function there, will move current impl dependent on `libsecp256k` into pallet.

[2022-03-16 18:09] xgreenx opened #1187 "Missed constructor and messages not critical error during compilation"
After the introduction of upgradable contracts, it is okay if some contracts don't have any message or constructor. Because they can be implemented in another code.

Instead of error during codegen, we can emit a warning and it is up to the user to fix it or not.

[2022-03-18 07:32] cmichi opened #1195 "Reduce code duplication in `.gitlab-ci.yml`"
Our [`.gitlab-ci.yml`](https://github.com/paritytech/ink/blob/master/.gitlab-ci.yml) contains a lot of super-repetitive lines like this by now:
[code]

There are more occurrences in the file, they could all be replaced by something like:
[code]

[2022-03-21 08:56] kvinwang opened #1196 "Export a function to calculate event topics"
Hi, there,

We are using [a custom event topic](https://github.com/Phala-Network/phala-blockchain/blob/master/crates/pink/pink-extension/src/lib.rs#L36-L61) to emit a special event which can be catched by our customized contract-runtime to do some feature extension.
So we need to calculate the topic in the runtime as well as the one in the contract.
For now, we copied the codes from ink-env to [he

[2022-03-22 17:18] HCastano commented on #1134
Hey @xgreenx! Any updates here?

[2022-03-22 17:55] xgreenx commented on #1134
Hi, we've started work on it, but we are not fully involved at the moment. The previous week was related to stabilizing of OpenBrush(to use the stable ink!, speedup CI, adapting our projects), fixing issues found by users. In that week we are focused on upgradable contract, Proxy, and Diamond standards.

We plan to be fully involved in that issue after one week. it is part of 5th milestone of the

[2022-03-22 23:09] bernardoaraujor opened #1197 "Broken Multisig Example"
[these comments](https://github.com/paritytech/ink/blob/184ec880771b402ddc8ccebcf9128549826e77ee/examples/multisig/lib.rs#L331) on the multisig example propose the following code to generate a transaction to add new owners:
[code]

However I'm running into the following compilation error:
[code]

[2022-03-23 07:28] cmichi commented on #1197
@bernardoaraujor Are you using the latest stable 3.0 release? There were some changes to the `CallBuilder` API there and if you have the `3.0.0-rc9` dependencies in your `Cargo.toml` you might be using the stable release under the hood without noticing.

[2022-03-23 13:53] bernardoaraujor commented on #1197
doing the following on `Cargo.toml` wasn't enough, the error message stays the same:
[code]

[2022-03-23 21:05] HCastano commented on #1197
@bernardoaraujor did you make sure to also run `cargo update` after making that change? Your Lockfile might still be pointing to the RC9 release

[2022-03-23 21:19] bernardoaraujor commented on #1197
yes, also when manually looking at `Cargo.lock`:
[code]

but the following remains there:
[code]

[2022-03-23 22:14] xgreenx commented on #1197
I think the problem is that documentation in `multisig` example is not correct=) It really provides 3 arguments than it should be 4 arguments=)
The comment:
<img width="720" alt="image" src="https://user-images.githubusercontent.com/18346821/159804734-f507ae98-a5c7-49c4-a21a-b49f351308d2.png">

The code of ink:
<img width="660" alt="image" src="https://user-images.githubusercontent.com/18346821/15

[2022-03-23 23:47] bernardoaraujor commented on #1197
yes.
it is also not clear to me how to extract the right codes to use on `Selector` for `CallData` and `CallParams`.
where do those codes come from?

[2022-03-24 01:43] HCastano commented on #1197
Yeah you guys are are. I've opened https://github.com/paritytech/ink/pull/1198.

[2022-03-25 04:41] bernardoaraujor commented on #1197
@HCastano thanks, that cleared out the original issue.
But now I'm stuck here:
[code]

[2022-03-25 09:33] cmichi commented on #1197
@bernardoaraujor Could you push your branch to that repo? What is the command you're executing to get this error?

I suspect that you might have `ink-experimental-engine` somewhere in there, but we removed it with one of the recent release candidate.

[2022-03-25 10:14] cmichi commented on #916
I'm closing this issue, since we now have the `Mapping` data structure which doesn't have any lazy behavior anymore.

[2022-03-25 10:14] #916 closed

[2022-03-25 15:20] #1018 closed

[2022-03-25 15:21] #1021 closed

[2022-03-25 15:21] #1022 closed

[2022-03-25 22:08] bernardoaraujor commented on #1197
[here](https://github.com/paritytech/sbp-contract/blob/32982c4fe0495821591a558d81ee5594f125d08c/multisig/lib.rs#L46) is what the error is coming from.

[2022-03-27 03:12] HCastano commented on #1197
@bernardoaraujor Yeah this was on us again, sorry. Can you take a look at #1202 and see if that finally resolves your issue?

[2022-03-28 06:09] #1197 closed

[2022-03-29 14:10] agryaznov opened #1204 "Add `code_hash` and `code_own_hash`"
This is to remember to implement these functions as a follow-up to [substrate#10933](https://github.com/paritytech/substrate/pull/10933/)

[2022-03-30 13:15] willser commented on #1187
Hello,someone tracking this?If not,I would like to pick it up.

[2022-03-30 15:51] cmichi commented on #1187
@willser For sure you could pick it! I think the only change needed in ink! is to make `#[ink(constructor)]`'s optional. Feel free to ask any questions that might arise here.

So for emitting this warning I don't think there's a way of doing this in ink!, we'll do it as a rule for the smart contract linter in `cargo-contract` instead. So that's nothing to be done as part of this ink! issue, it wil

[2022-03-30 16:02] cmichi commented on #1187
As part of this ticket you should also add new tests in `ink/crates/lang/tests/ui/contract/` to check that contracts with the now-allowed missing constructor are compiling.

You can also remove the constructors in [`examples/upgradeable-contracts/delegate-calls/upgradeable-flipper/lib.rs`](https://github.com/paritytech/ink/blob/master/examples/upgradeable-contracts/delegate-calls/upgradeable-flipp

[2022-03-30 19:43] cmichi commented on #1187
@willser I need to revert my go from earlier today, there's some more stuff to consider here.

I'll try to post some more on it tomorrow!

[2022-03-31 11:41] willser commented on #1187
I thought it's a little change,so I has changed `error` to `warning` in `lang` mod,LOL.It work in this [commit](https://github.com/willser/ink/commit/a815e56afba9bf9f3ed863025a57e8e90665613c).
<details>
<summary>This is log when I remove the constructors and messages in `flipper`</summary>

[code]
</details>

But after reading your post I think things may be more complicated than I thought.So I am

[2022-04-01 11:21] athei opened #1207 "Change return type in metadata to allow common errors"
Currently, the metadata defines the return type of a message (or constructor) as exactly the type that is returned by the message itself.

This doesn't allow us to return any error that isn't defined by the contract itself. For example, the dispatch of a contract call to the individual messages is not handled by user code but by code generated by ink! macros. The way how the metadata is defined wo

[2022-04-01 11:24] athei commented on #1002
Replaced by https://github.com/paritytech/ink/issues/1207

[2022-04-01 11:24] #1002 closed

[2022-04-06 03:49] Levike34 commented on #1117
Further to this, testing does not seem to work at all using ink_env::test module.  I followed these steps to run tests related with balances and set_caller:

add ink-experimental-engine = ["ink_env/ink-experimental-engine"] to Cargo.toml

add #[cfg(feature = "ink-experimental-engine")] above mod tests {}

despite this, ink_env::tests::default_accounts() is not found, nor is ink_env::tests::set_cal

[2022-04-06 03:50] Levike34 commented on #1117
error[E0425]: cannot find function `set_caller` in module `ink_env::test`
   --> pixelland_map/lib.rs:194:28
    |
194 |             ink_env::test::set_caller::<ink_env::DefaultEnvironment>(accounts.bob);
    |                            ^^^^^^^^^^ not found in `ink_env::test`

error[E0609]: no field `bob` on type `std::result::Result<DefaultAccounts<DefaultEnvironment>, ink_env::Error>`
   --> pi

[2022-04-06 12:47] cmichi opened #1213 "Pipeline status badge in readme must only be green if GitLab + GHA CI passes"
This pipeline badge in our readme refers only to our GitLab CI:

![screenshot-github com-2022 04 06-14_44_15](https://user-images.githubusercontent.com/241530/161977336-0e4f7176-7991-4583-b21f-33dc9c748e06.png).

It should only show `pipeline passed` if both the GitHub Actions CI and the GitLab CI are green.

[2022-04-07 11:31] cmichi commented on #1187
@willser Sorry for the delay, you're good to go. There was some discussion on if we actually want to make ink! messages and constructors optional and the decision is yes.

[2022-04-08 13:21] willser commented on #1187
It's ok.Good for hear that.

[2022-04-08 14:41] willser commented on #1187
Hello @cmichi ,there are some problem when I test a `no-ink-message` contract by using [`contracts-ui`](https://paritytech.github.io/contracts-ui/).I got error message `TypeError: Cannot read properties of undefined (reading 'isPayable')` when upload a `no-ink-message` contract.There are something need to be changed in `contracts-ui`(or `substrate-contracts-node`) I guess.

Other work is done and

[2022-04-08 17:32] #1204 closed

[2022-04-21 04:28] cmichi commented on #1183
It also didn't issue a PR for https://github.com/paritytech/ink/pull/1220.

[2022-04-22 08:28] #1185 closed

[2022-04-22 09:07] athei opened #1222 "Define events as a single enum"
Right now events are declared as individual structs. This is not optimal because it wastes space and doesn't enforce grouping all events in one place. What we should to instead is define them just as the `Error` type as a single enum. The codegen should make sure that only struct like variants are used so that all fields are properly named.

[2022-04-22 12:45] cmichi opened #1225 "Describe how proxy account + multisig can be used for our `upgradeable-examples`"
We should document how you would implement a strategy for the upgrade-permissioned account in a production system. This should be done in the [`upgradeable-contracts/README.md`](https://github.com/paritytech/ink/tree/master/examples/upgradeable-contracts).

The typical way would be to either have some governance mechanism for doing that or a set of privileged users that control a multi-signature a

[2022-04-23 07:45] cmichi opened #1226 "Gather all the requirements for building a block explorer integration"
Blocker:

- [ ] ink! 4.0 with new storage
- [ ] Metadata documentation
- [ ] Metadata JSON Schema
- [ ] Reproducible Builds

[2022-04-23 08:07] cmichi opened #1227 "Document how indexers can build a contract dashboard"
- [ ] How can _Active Contracts_ be aggregated? Listen to extrinsics for `Contract::Call`, `Contract::Instantiate`, and `Contract::InstantiateWithCode`.

- [ ] _Consumed Gas_? Check `ExitrinsicSuccess` and `ExtrinsicFailed` for consumed gas (that's the `weight` field).

- [ ] _Gas Fee_? Read weight adjustment factor from storage and convert it to e.g. USD, this reflects the market demand based on

[2022-04-23 09:10] cmichi opened #1228 "Add example of how to call a Solang Solidity contract from ink!"
## ToDo

- [ ] Solang should generate the same selectors as ink! (@xgreenx mentioned this a while ago, is there by chance already an issue in the Solang repo?)
- [ ] Solang should generate `contract-interface.rs` with a trait that exposes the contract methods.
- [ ] The example should demonstrate cross-contract calls.

Blocked by https://github.com/paritytech/cargo-contract/issues/526.

[2022-04-23 09:18] cmichi opened #1229 "Make metadata crate available for other compilers"
Relates to https://github.com/hyperledger-labs/solang/issues/666.

@seanyoung Could you detail what you would need from us?

[2022-04-23 13:02] cmichi commented on #1181
Once we have it, we should test if the `call`, `initiate`, etc. sub-commands of `cargo-contract` behave correctly with this contract.

[2022-04-24 08:07] seanyoung commented on #1229
Solang uses [contract-metadata](https://crates.io/crates/contract-metadata) for contract metadata generation but this crate does not define anything for the abi itself. So, solang includes some code for the abi generation. This code has been updated to match the latest abi metadata format already, but once again it is out of date.

What would be ideal if there was some code which could be shared b

[2022-04-24 10:29] athei opened #1231 "Messages and contstructor cannot be conditionally compiled"
Minimal reproducer: https://ink-playground.substrate.io/?id=d666be89f36785e487036bf43d7b175b

It is the same for constructors. I would expect for the message to be just not included in the contract. Instead I get this error:

[code]

[2022-04-24 16:39] agryaznov commented on #1068
We now have `seal_` function for this in pallet_contract. Do we need to implement also some fn to be used from inside ink! contracts? @cmichi

[2022-04-24 18:25] athei commented on #1068
Of course. Your linked PR should not just remove the dependency but replace it with a call of the seal function.

[2022-04-24 18:51] agryaznov commented on #1068
Do we really need this `ink_eth_compatibility` crate after all? It isn't being used anywhere, and only has one more fn aside from `to_eth_address()`, which is `to_default_account_id()` and looks like something that should be put out of ink as well (probably to the same ecdsa trait extension in frame_support).

[2022-04-25 05:33] cmichi opened #1234 "Add `[ink::e2e-test]` with a new E2E testing crate à la `ink_waterfall`"
Persisting the results from our discussion on Saturday:

- We want to remove the existing off-chain testing environment (`engine`) and replace it with an E2E testing framework.
- This E2E testing framework will be a new crate based on `ink_waterfall`. So we want to make the waterfall a product as part of ink!.
- We will retain the `[ink::test]` syntax, but it will then instead spawn a `substrate-c

[2022-04-25 07:54] athei commented on #1068
Yeah I don't think we need this extra crate anymore. I think we only had it to avoid pulling in the crypto dependency. But better wait for @cmichi to comment.

[2022-04-25 10:49] ascjones commented on #1234
I would add that there are potentially benefits to removing some abstractions required for the offchain env in the `ink!` codebase. It would certainly remove a lot of code, and allow more flexibility for more radical reductions in code size.

[2022-05-02 13:43] virgil2019 commented on #631
So can I get a wrapped instance for a deployed contract, like 'from_account_id'?

[2022-05-02 14:15] xgreenx commented on #631
It is not implemented right now in ink!. If the contract that you want to work with is implementing a trait, then you can use [wrapper feature](https://github.com/Supercolony-net/openbrush-contracts#wrapper-around-traits) from OpenBrush. You can use any `AccountId` to send a cross-contract call, it is the first argument of the method.

[2022-05-06 19:13] cmichi opened #1247 "Document what "storage compatibility" for `set_code_hash`"
Follow-up to https://substrate.stackexchange.com/questions/2352/old-and-new-storage-compatibility-inkenvset-code-hash.

We should document what "storage compatibility" actually means. As I wrote in the answer for the StackExchange question it's the same requirements as in the OpenZeppelin docs.

This explanation of "storage compatibility" should also be linked on https://github.com/paritytech/ink/

[2022-05-12 02:48] DukeCaesar commented on #1000
Same issue.

[2022-05-12 04:29] cmichi commented on #1000
@ascjones Do you have an idea if this will be fixed with https://github.com/paritytech/ink/pull/1243 ?

[2022-05-12 10:22] forgetso opened #1253 "CodeRejected: module imports a non-existent function"
**Questions**

- Is this a bug concerning building of ink! smart contracts?
    - No
- Is this a bug that appears when interacting with smart contracts via the Polkadot JS browser UI?
    - No

**FAQ**

- Are you using the nightly Rust channel to compile your smart contract?
[code]
- Are you using an up-to-date `cargo-contract`? Check via `cargo contract --version`.

[code]

- Are you using an up-